[2016-07-25 21:01] whatisgravity opened #1 "Membership"
Please post here if you would like to gain membership to the ethereumproject organization which manages the Ethereum Classic development (ETC). Please introduce yourself, tell us your skillset and how you can contribute to the project.

We will try to remain open as possible but everyone will needed to be added on a trial basis to prevent potential abuse.

[2016-07-25 22:31] soundbit commented on #1
Hello, my name is Artem.
I can develop front-end ethereumclassic.github.io

[2016-07-26 11:29] jakoblind commented on #1
Where can I get an overview on what needs to be done? Might be able to contribute..

[2016-07-26 11:42] whatisgravity commented on #1
Right now the best overview is currently on the Volunteer page. We are currently just looking for developers who can help maintain the existing clients with the DAO HF code removed. Our aim being to allow easy use of the existing clients without any special flags.

We also have need for development on an open source blockchain explorer, one exists for Ethereum but it is rudimentary. A way to easil

[2016-07-26 11:43] whatisgravity commented on #1
@soundbit I currently do not have control over that site and I'm not sure what needs to be added. It would be best to reach out to @arvicco. I'm not 100% sure but I believe he is managing that and may be interested in adding additional features.

[2016-07-26 16:44] elaineo commented on #1
Is anyone working on a block explorer right now? If not, I'd like to take the lead on that one since we need one.

[2016-07-26 18:28] nnadir commented on #1
Hi,

I have been a fullstack developer for more than 10 years. Have recently started exploring blockchains and am new to Ethereum. Let me know if I could help in any way.

Regards

[2016-07-26 23:36] matthewjamesr commented on #1
Hey all! I am very excited to try to help out this project and keep Ethereum Classic alive and well. I am a web developer, full stack capable but shine on the backend.

Languages: Ruby/PHP/JS (Node)
Frameworks: Rails/Laravel
Extra: Experience tinkering with custom blockchain deployment using Multichain, also wrote a simple block explorer on said custom chain.

Please reach out if there is anything

[2016-07-27 02:21] arvicco commented on #1
@elaineo @aakilfernandes is working on one:
https://github.com/aakilfernandes/explorer

There is also http://gastracker.io/ but I'm not sure where its code is.

[2016-07-27 14:26] whatisgravity commented on #1
@arvicco The gastracker.io project is managed by @splix who has volunteered but I'm not sure if he is interested in releasing the code open source. It is his choice and we should respect whatever that is but I hope he considered the idea of making it open source because I think it is well done. It could speed up development and allow for others to build from the great work already done.

@elaineo

[2016-07-27 14:36] whatisgravity commented on #1
@matthewjamesr Thank you for volunteering your time to the project, your experience seems like you could fit in different projects. If you have experience with web frameworks like rails you may be comfortable diving into Meteor which is the foundation of the Mist client. I have started but have been sidetracked by other tasks, you can either assist in restoration (removing all DAO specific code) a

[2016-07-27 14:36] splix commented on #1
@whatisgravity current implementation is really bunch of hacks, it doesn't look good to be release to open source. But now I consider to make another browser, based on my experience, that will be open sourced. The only problem that with all of this happening right now I don't have time to do it right now

[2016-07-27 14:43] whatisgravity commented on #1
@splix Perfectly understandable, each iteration of a project like that gives you new insight on how to improve it.

We look forward to your next iteration. I respect the fact that you built it from essentially scratch because it will make it so there are two foundations to build ETC block explorers from.

@nnadir @elaineo With the information splix provided above, I think if you are interested in

[2016-07-27 14:51] whatisgravity commented on #1
@arvicco Do you have any need for assistance on the primary information website? @soundbit is offering assistance.

@soundbit Do you have experience primarily with web application development or design, or both? Knowing more details about your background helps identify where you can be most effective. Thank you for volunteering.

[2016-07-27 15:08] whatisgravity opened #6 "Migration"
It is desirable to merge this organization with the ethereumclassic namespace. Unfortunately my work started before I knew about ethereumclassic but the name has been decided and for consistency it may be better to exist under a single organization.

For go-ethereum this task will require a few hours invested.

Are there any other projects that require significant amounts of time to migrate to a d

[2016-07-27 15:27] whatisgravity commented on #1
Just a friendly reminder, it would be best to use multifactor authentication for your github account dedicated to this project. The security of your account associated with this project is important for the overall security of the community.

[2016-07-27 16:03] matthewjamesr commented on #1
@splix I have built custom block explorers before as well ontop of a custom blockchain for proof of concept. I would love to contribute and will create a repo under the org structure.

I think it would be a great idea to lock down design cohesiveness as we try to gain more users. That will help others realize, potentially, what services are being worked by this group of developers.

Thoughts?

I t

[2016-07-27 16:05] matthewjamesr commented on #6
Are we dedicated at this point to the namespace move? If so I will initialized the blockexplorer ports over there once I receive a membership access.

[2016-07-27 16:14] whatisgravity commented on #1
@matthewjamesr Any suggestions for a backend? Would it be from scratch or starting from the https://github.com/aakilfernandes/explorer explorer?

[2016-07-27 16:18] matthewjamesr commented on #1
@whatisgravity I was thinking custom due to not as many developers being great at nodejs verses php/ruby.

I built my first in ruby/rails very basic or could even use php/laravel.

[2016-07-27 16:24] whatisgravity commented on #6
Sorry, I think this post may be confusing, this was to plan migration, I need to collect information to guage if a manual migration would be preferable over simply deleting the other organization and changing the name of this organization, then updating all require projects. I want to do this in one step.

In the meantime, simply use this organization, and I will handle the name space migration, I

[2016-07-27 16:24] splix commented on #1
I was thinking about something JVM based for backend (groovy/clojure/java). Maybe Golang, but I'm not so familiar with it. Server is needed mostly for additional indexes and custom search.
And React+Redux for front end. For CSS I'm fine with Bootstrap, but I'm open to alternatives.
As I mention before, I'm not ready to participate in this in next week or so, as we need to fix geth/mist/ethereumj a

[2016-07-27 16:39] whatisgravity commented on #1
I completely agree splix about the focus:

Geth should be ready, it just needs to have the bootstrap nodes added. I need to check if there are any upstream patches not yet added since my last commit.

I'm currently working on Mist. I deleted the project and should have a version ready soon.

Do you have a feel for the progress of EthereumJ? I have not yet had time to investigate myself.

@matthewj

[2016-07-27 16:41] matthewjamesr commented on #1
I agree about focus as well but that will be slightly outside of my knowledgebase.

@whatisgravity I will go ahead with a RoR-based explorer for us, will get a repo up tonight and a basic version hopefully by this weekend.

[2016-07-27 16:59] splix commented on #1
Can we have some place where we can chat? Also, I've noticed that we don't have write access to the repos, are we supposed to fork and make pull requests?

[2016-07-27 17:00] matthewjamesr commented on #1
@splix Like a Telegram group?

[2016-07-27 17:04] splix commented on #1
@matthewjamesr telegram ok, if that works for @whatisgravity

[2016-07-27 17:07] whatisgravity commented on #1
@splix I noticed that too, I started working on creating teams and will address the access immediately.

I'm okay with telegram

[2016-07-27 17:10] whatisgravity commented on #1
Everyone now has write access, we can add more granularity if we see people abusing it.

[2016-07-27 17:13] splix commented on #1
@whatisgravity thank you!

I've added a [ROADMAP.MD](Volunteer/blob/master/roadmap.md), feel free to update. Community is really worried about our plans and when they'll be able to use ETC chain

[2016-07-27 17:14] elaineo commented on #1
Hey, I'm pretty strong when it comes to node. I can pick up on @aakilfernandes block explorer where he left off. @matthewjamesr  is that okay with you?

If there are other urgent tasks I can direct my efforts there instead, but otherwise I'm gonna move ahead on the block explorer.

[2016-07-27 17:20] whatisgravity commented on #1
Would anyone be opposed to using IRC? I'm pretty old school. I'm already on: oftc.net

reticulum.oftc.net

In the channel #etc-dev

I think this would be preferable too because it would be more transparent, anyone can join the channel, and no one has to give out phone numbers.

[2016-07-27 17:21] whatisgravity commented on #1
@elaineo That sounds like a good fit, with your experience in node your help may be useful for future mist client management but I can handle the initial restoration.

[2016-07-27 17:22] matthewjamesr commented on #1
@whatisgravity I am ok with IRC but think Telegram might be easier for access and to keep updated with the team when on the move. Anyone else have thoughts on this matter?

@elaineo That is great! If you are good with working on node I can work on the frontend. Work for you?

[2016-07-27 17:27] whatisgravity commented on #1
I can agree to Telegram in the future but I will need to pick up a new sim card for this purpose. So I encourage you to create the channel and I can join later.

[2016-07-27 17:30] matthewjamesr commented on #1
Sounds like a plan. I will create it when I leave work for the day. Can you go ahead and create the room on IRC so we can have both options? If you post the room here I can open a PR on [Ethereum Classic](https://github.com/ethereumclassic/ethereumclassic.github.io)'s website adding the info to the community section.

[2016-07-27 17:32] elaineo commented on #1
@matthewjamesr sure, let's coordinate offline so we don't clog up this thread. I'll add the new repo.

[2016-07-27 17:32] matthewjamesr commented on #1
@elaineo great idea, matthewjames3@protonmail.com.

[2016-07-27 17:33] whatisgravity commented on #1
Thanks for adding the road map, it feels we have definitely hit the threshold were we can safely start planning together the future of the project.

I will add my contributions to it later, I have been working on proposals for an alternative client which focuses on security client and a new dapp browser implementation.

[2016-07-27 17:54] ProphetDaniel commented on #1
I redirected the volunteer link to this page in the home page.

[2016-07-27 19:44] comndkn commented on #1
@whatisgravity when can we expect a bug-free user friendly ETC client like Electrum? I am heading a software engineering and multi-location hosting organization. So I may able to help you in a number of ways. For example, in creating a mining pool, developing a payment client and building a merchant payment API/gateway for businesses. My team members are having exposures in HTML5/CSS, JavaScript/J

[2016-07-27 19:54] jeffanthony commented on #1
I can contribute to technical documentation. I'm experienced in open source community organization and currently transitioning to a more project management capacity focused on ICONIX and applying that to solidity/web3 development. I have been familiarizing myself with Meteor in an attempt to pave the way to implement smart contracts with currently popular open source CMSs such as Drupal, Wordpress

[2016-07-27 20:31] ProphetDaniel commented on #1
@whatisgravity I was able to enter the IRC channel though the [Oftc webchat](https://webchat.oftc.net/).

[2016-07-27 21:37] bart-w0 commented on #6
No major changes required for EthereumJ

[2016-07-27 22:33] madmanblues commented on #1
Hi, I would be really happy to contribute on this project. I can mainly help with front end development but I'm a quick learner. I'm sure that I can, with some patience and help from your side, be quickly onboard and productive also on other aspects.

[2016-07-27 22:51] matthewjamesr commented on #1
All, I just created the official ethereum classic development telegram channel. Please join so we can freely coordinate with each other outside of IRC.

Ethereum Classic Developers
The official ethereum classic development channel.
https://telegram.me/etcdev

[2016-07-27 23:50] matthewjamesr commented on #1
Added communication channels for ethereumclassic.org in a PR: https://github.com/ethereumclassic/ethereumclassic.github.io/pull/11

[2016-07-28 02:28] matthewjamesr commented on #1
All I had to remake the atelegram group I was alerted that I created a channel instead of a group so only I could conversate.

Sorry for the inconvenience please follow the same link on the website to rejoin. Thanks!

[2016-07-28 07:10] bobsummerwill commented on #1
Greetings, everyone!

Bob Summerwill, Developer on [cpp-ethereum](http://www.ethdocs.org/en/latest/ethereum-clients/cpp-ethereum/index.html) here.

If you have anybody who wants to maintain a Classic fork of that codebase, please do let me, and we can coordinate on the branching, Appveyor/TravisCI automation - I can give an overview of the code, etc.

I'm just getting to the end of several months

[2016-07-28 16:29] whatisgravity commented on #1
@comndkn I think a payment gateway would be useful but it would be out of scope for our development efforts. We could assist you and provide support for the client but I think it would best for us to stay out of niches that could be better filled by industry. I encourage the efforts to create a payment gateway, I have personally done a fair amount of work on within this niche before the fork force

[2016-07-28 16:32] whatisgravity commented on #1
@jeffanthony Knowing myself and other developers, your eye on documentation would be very beneficial. I have invited you to the organization, any improvements you can make or suggest are absolutely appreciated.

[2016-07-28 16:36] whatisgravity commented on #1
@madmanblues Can you provide any more details about your experience in front end development? It would be helpful in finding where your time investment can best be utilized. Do you have much javascript experience or primarily HTML/CSS?

[2016-07-28 16:39] whatisgravity commented on #1
@bobsummerwill Thank you very much for your professionalism, your presence is very welcome. Currently we do not have anyone yet working on this project. I will likely take it over myself if we can not find anyone else with cpp experience. I truly believe we our development efforts can eventually start tackling general issues and it will benefit the entire Ethereum ecosystem so I really appreciate

[2016-07-28 16:49] bobsummerwill commented on #1
No problem, @whatisgravity!

If you don't have anybody working on C++ right now that probably isn't the worst thing in the world given our current "in-motion" status.   The v1.3.1 release will be way, way easy to branch off.

WRT Documentation, as you have probably deduced, the two main repositories are:

- https://github.com/ethereum/homestead-guide
- https://github.com/ethereum/ethereum-org

I h

[2016-07-28 17:03] bobsummerwill commented on #1
PS.   I see that you have `libethereum` forked.  I would recommend that you delete it, because it is already obsolete (merged back into the reformed cpp-ethereum).

https://github.com/ethereumclassic/documentation might become a new home for the "Homestead docs", but neutralized to just be "Ethereum Documentation", but as you can see it is entirely empty now, so probably best to delete your fork t

[2016-07-28 17:07] whatisgravity commented on #1
@bobsummerwill @arvicco forked a lot of projects when he created the EthereumClassic project, those projects were just place holders I suspect. Those will all be deleted. The development is currently within etheruemproject and is set to be migrated ethereumclassic. We only have projects forked which we are actively working on.

[2016-07-28 17:22] soundbit commented on #1
New design funded and work in progress! @whatisgravity how to contact you in telegram?

[2016-07-28 17:24] whatisgravity commented on #1
I need to get a new sim card for telegram, I will grab on tomorrow, in the meantime I have been idling in the IRC channel on OFTC which I believe is a fitting server for us. Even if you just pop in and say something then leave I will be able to read it when I can.

[2016-07-28 17:30] ProphetDaniel commented on #1
In my understanding telegram is best for community inputs. The IRC channel is a preferred method for increased security when users are GPG signed.

[2016-07-28 17:47] arvicco commented on #1
@whatisgravity Correct. The repos were forked prior to merging with ethereumproject org when it was decided that the development side will be managed from ethereumproject for the time being. Personally, I'm quite comfortable with things staying this way for a while, with two separate repos for dev and non-dev stuff.

And yes, duplicating ethereumclassic repos should be deleted to avoid confusion.

[2016-07-28 18:07] whatisgravity commented on #1
To help avoid confusion too, I have updated the icon and changed the name to Ethereum Classic Project, which doesn't affect the namespace but will prevent confusion between the two developer organizations.

[2016-07-28 18:20] bobsummerwill commented on #1
@whatisgravity For sure.   Going from nothing-to-something is a lot of work.   Great to see you enumerating work that with Github issues :-)   Good luck and best wishes.

[2016-07-28 18:38] ProphetDaniel commented on #1
@whatisgravity, I've sent you a message to the IRC. It doesn't look that you are getting my messages.

[2016-07-28 20:38] CodeStackDave commented on #1
I'm interested in helping out, I'm a developer willing to pick up anything in the evening and helping out in the front or back.

[2016-07-28 21:24] madmanblues commented on #1
@whatisgravity mainly HTML/CSS. I have some experience with javascript, PHP and Java as well.

[2016-07-28 21:42] troygolden commented on #1
I can code. Please let me know what I can do to help.

[2016-07-29 07:24] Machete3000 commented on #1
I'm a developer and I'd like to help out too. So far I've forked the ETHF netstats project and put up a network stats page for ETH classic at http://etcstats.net . Feel free to add your geth or parity node if you're running one: https://github.com/Machete3000/etc-net-intelligence-api/wiki/Network-Status-Client-Setup.

[2016-07-29 11:35] marcusyh commented on #1
I'm a tester, can write python, and preparing to do something help the classic project. Any task will be appreciate.

[2016-07-29 14:31] arvicco commented on #1
@Machete3000 Great job on Netstat, thanks a lot! I didn't even hope someone will take initiative to adopt it so quickly. It's already listed on Reddit in resource list and will be added to website shortly.

[2016-07-29 14:39] matthewjamesr commented on #1
@Machete3000 I can run a node if needed, if correct I only see two nodes participating current as of a few hours ago. Are you on Telegram for PM?

[2016-07-29 15:37] ProphetDaniel commented on #1
Site development streaming now at [Etherdesign.io](http://etherdesign.io/stream). I think [Netstat](http://etcstats.net) should be available there.

[2016-07-29 16:23] vodnic commented on #1
I was redirected here from reddit.
Are you still looking for lil' santa helpers? I am a back-end developer, ~4 years of commercial experience in C++ (+ years before a first job) and ~2 years of commercial experience in Java.
Also, minor python experience (used only when needed) and day to day life with bash.

[2016-07-29 21:42] comndkn commented on #1
ok, Please allow me a couple of days to discuss these ETC dev proposals internally with my team members i.e. developing an ETC Payment API with an integrated Exchange that will quote BidAsk ETC/BTC, ETC/USD,ETC/ETH and other pairs as well as an ETC Metapool to aggregate mining pools. I will probably ask you send us an invite by end of next week. BTW I received a PM from Aztek_btc asking me if I co

[2016-07-29 21:42] comndkn commented on #1
@whatisgravity ok, Please allow me a couple of days to discuss these ETC dev proposals internally with my team members i.e. developing an ETC Payment API with an integrated Exchange that will quote BidAsk ETC/BTC, ETC/USD,ETC/ETH and other pairs as well as an ETC Metapool to aggregate mining pools. I will probably ask you send us an invite by end of next week. BTW I received a PM from Aztek_btc as

[2016-07-29 22:33] matthewjamesr commented on #1
I am completely against Proof of Stake. We are here to maintain ETC, the original Ethereum. Sure we can make enhancements and improvements that over time will diverge from ETHF, but we should not be changing the central protocol.

Adamently against this. He has mentioned this on Reddit and I think this is what caused to social media scare

[2016-07-29 22:34] whatisgravity commented on #1
@CodeStackDave Great to hear you are interested, can you tell us more about your development experience? It would help in finding ways we can best utilize your time and skillset.

@madmanblues Depending on your comfortability you may find your skills best used in issuing improvements to the open source block chain explorer or the various information resources. I know there was a ETC wiki project t

[2016-07-29 22:51] whatisgravity commented on #1
It is really great to see so much interest, please remember to add your gpg/pgp key, and setup multifactor authentication when possible. Right now the commit rights are pretty liberal but when in doubt make a pull request and do not directly make modifications. More restrictions can be put into place if this system is not working.

[2016-07-29 22:53] bobsummerwill commented on #1
Hey @vodnic,

So yeah - if you look up this thread, you'll see a few posts between myself and @whatisgravity with regard to cpp-ethereum.    The "Homecoming" will be complete in a few days (back to http://github.com/ethereum/cpp-ethereum from http://github.com/ethereum/webthree-umbrella) and we'll then do a v1.3.1 release which would be a great starting point.

I'm happy to talk you through the se

[2016-07-30 03:15] Machete3000 commented on #1
@whatisgravity @marcusyh Full text search can be turned on for forks. You just have to request it from github support. If they accept to turn it on, a fork is easier to patch with upstream updates.

[2016-07-30 03:17] Machete3000 commented on #1
@whatisgravity I'll be taking a look into the blockchain explorer soon and will try my best to contribute.

[2016-07-30 04:25] ChuckSRQ opened #9 "Social Media"
I would like to help out with the Twitter account. It's what I spend a lot of time on. I'd love to help out there.

[2016-07-30 04:25] #9 closed

[2016-07-30 06:59] dax-classix commented on #1
hello, frontend dev here.

@Machete3000 i would love to help with an explorer!

[2016-07-30 12:18] whatisgravity commented on #1
@Machete3000 You can add several remote locations to a git repository, so it turns out to be able to same difficulty to manage. This solution also does not require the approval of github. The way I suggest doing it also ensures we keep the entire git history which is very important. If the method did not credit all authors of their commits I would not suggest this method.

[2016-07-30 12:19] whatisgravity commented on #1
@dax-classix Can you tell us a little more about your experience, are you experienced with any specific framework for example?

[2016-07-30 13:24] jsmith-dev commented on #1
@whatisgravity working on: https://github.com/MyEtherClassic

[2016-07-30 13:48] realcodywburns commented on #1
@bobsummerwill I have forked the homestead-guide into /ethereumproject/classic-guide for the migration. Thanks for the suggestion. Neutralization has begun.

[2016-07-30 17:00] bobsummerwill commented on #1
Good luck, @realcodywburns.

RST format is generally comprehensible.   None of us working on the docs have prior experience of the format, and we've all had to learn as we go.

If you have any questions, please do feel free to come and chat on the https://gitter.im/ethereum/homestead-guide channel.

[2016-07-30 17:52] elaineo commented on #1
@jsmith-dev I created a version of MyEtherWallet here: http://classicetherwallet.com/

do you want to combine efforts so we don't duplicate work?

[2016-07-30 19:50] marcusyh commented on #1
@whatisgravity Thanks a lot for the trust. I'm very glad to accept this task. I have to uncover myself that my skill is not good. I'll try the best, and also glad to hand the favor to a more skilled person when he or she appears in this team, and assist him or her with this task. Maybe it will take several days for me to learn how to, hopes it will be acceptable.

[2016-07-30 20:04] madmanblues commented on #1
@whatisgravity Wuold be great to start contributing on the improvements to the open source block chain explorer and the various information resources. It would be great if you can put me in contact with someone to better understand what to do.
Moreover I'll start studing other aspects, I'm really interested on better understanding the way things are implemented.

[2016-07-30 21:22] elaineo commented on #1
@madmanblues @Machete3000 @matthewjamesr Hey, since we're all working on the block explorer, do you want to move the discussion here? https://github.com/ethereumproject/explorer/issues/1

[2016-07-30 23:33] bobsummerwill commented on #1
@whatisgravity @arvicco and everyone else ...

Quick note on `ethereumproject` and `ethereumclassic` Github organizations.   See also @arvicco's comment here:

https://github.com/ethereumproject/Volunteer/issues/1#issuecomment-235971105

I see that the title for https://github.com/ethereumproject has been changed to `Ethereum Classic Project` which is good, but the actual URL is still a direct nam

[2016-07-30 23:44] bobsummerwill commented on #1
Having a quick look at your current repos, I think that would mean the following as of right now:

- ethereumclassic/classic-guide (refork directly from ethereum/homestead-guide)
- ethereumclassic/go-ethereum (refork directly from ethereum/go-ethereum)
- ethereumclassic/libethereum (delete obsolete repo, as per comments above)
- ethereumclassic/homebrew-ethereum (refork, rename as homebrew-ethereu

[2016-07-31 13:46] whatisgravity commented on #1
@bobsummerwill Generally that plan is alignment with my view of the situation. However, it is not as simple as moving the libraries. There are too many instances where the repository name space has to hard coded. These references will all need updating and then testing. A simple find and replace is not enough either because pathing is sometimes found as an array in the code. Or sometimes the URL s

[2016-07-31 13:58] whatisgravity commented on #1
@marcusyh Take your time, if you have any questions, please ask and someone will try to assist you. We should encourage an environment where the more skill volunteers help the less skilled. If it is done in the open it can act as early documentation and help others get involved in the future with less effort needed.

At this point it is primarily knowledge in git required. We can wait to contribut

[2016-07-31 14:05] whatisgravity commented on #1
@realcodywburns Have you tried contacting github to get features like full text search unlocked on the classic-guide repository?

If not I recommend that you clone the repository, delete it, create a new project under our organization, change the remote to the new repository and push it. Forks are treated as second class citizens by github and doing it in this way we can do full text search and ot

[2016-07-31 15:17] bobsummerwill commented on #1
@whatisgravity Namespaces within the code itself, you mean?   If so then yeah, massive pain-in-the-arse.    You can see than in Expanse.    If I were in your position, I wouldn't change any of the namespaces in the code.    Or are you purely referring to references to the Github URL?

What Github "approval" are you referring to?   Anybody can fork anything to anywhere, as far as I know?   Or is th

[2016-07-31 15:28] vodnic commented on #1
@bobsummerwill @whatisgravity I think I could focus on whatever you think is more important. Nevertheless, I will have to start by diving into ethereum itself, first. I came from bitcoin community and didn't used ethereum(classic) in any other way than trading it on exchanges. So right now I am looking into the white paper and then will try to catch up with pratical uses and official tools. Theref

[2016-07-31 15:38] splix commented on #1
@bobsummerwill just a recent example, I've tried to make a pull request for our repo (which was created as you suggested, by forking), but Github instead of creating a pull request to our repo, it made pull request to your repo. Because it's a default setting. Of course I've deleted this invalid pull request, but you must understand that this is not the last time, and with forked repos you'll be c

[2016-07-31 17:26] igetgames commented on #1
Hey all. I'm volunteering to maintain the C++ port of Ethereum, referred to as `eth`. Sign me up!

[2016-07-31 18:19] whatsdis commented on #1
Hi guys,

Interested in becoming a volunteer, more specifically for Blockchain Explorer, as I suspect is something like a web application?

I am versatile in the technology stack, please let me know how I can start helping.

Cheers,

whatsdis

[2016-07-31 20:20] realcodywburns opened #11 "Community Funding Proposals"
Before I begin this issue I fully acknowledge both the irony and optics of my suggestion.

At some point in the near future, projects will require funding to continue. The current method of community funding has seemingly worked well for the webpage. However, less public projects will require more TLC than public facing sides. As such, I believe we need to form a 'blockchain based congress' in ord

[2016-08-01 00:24] whatisgravity commented on #11
I have posted about my interest in using a smart contract to transparently manage donated money to the development effort.

I'm not entirely convinced on the idea of a general investment fund but I think there may be merit to the idea that I'm unable to understand. I'm mostly wary of unnecessary crowd funding and all the cascading affects funding methods has on a project.

The most important thing

[2016-08-01 00:55] realcodywburns commented on #11
Yes, a contract which is very limited in scope and with a publicly know purpose is what i am proposing. the code available for review before being deployed. It also need to be known that this is not intended for governance in any form other, just for funding development.

[2016-08-01 01:44] whatisgravity commented on #11
I think this is a good idea and I would like to donate to the development of ETC once a basic structure exists. If nothing is either outlined or mocked up by the time I finish Mist Wallet, I can put together an early mock up of my initial idea regarding this.

I'm not particularly attached to this idea because I think there are very likely better designs but my initial design has 2 user maps.

1.

[2016-08-01 02:49] whatisgravity commented on #1
@vodnic Currently migration of the repository needs to occur, then we need to implement ways for each client to sync only to our chain. Then maintain upstream patches that do not include changes to the ledger or have no engineering issues until more people volunteer on the specific project.

If highly recommend you read more about the protocol and review the client in the language you feel most co

[2016-08-01 02:52] whatisgravity commented on #1
@whatsdis We are actively maintaining two separate open source block chain explorers, we would be happy to have more people contributing to these projects. @elaineo and @matthewjamesr are both actively working on a new one, or you can look at the @aakilfernandes has forked the existing explorer and has been maintaining it here: https://github.com/aakilfernandes/explorer

[2016-08-01 05:24] whatsdis commented on #1
oh okay looks like that's already being handled....let me know if there's anything I can do to help @elaineo, @matthewjamesr and @aakilfernandes

[2016-08-01 05:28] whatisgravity commented on #1
@whatsdis There is no reason you can not assist, together a list of functional requirements can be generated and features from the list can be developed independently on separate branches and merged into a developer branch. This is an important project, because no open source block explorer exists that makes it easy to verify contract byte code.

[2016-08-01 05:46] elaineo commented on #1
@whatsdis agreed, we've started creating a list of tasks and there's plenty more, join us here: https://github.com/ethereumproject/explorer/issues/1

[2016-08-01 06:27] madmanblues commented on #1
@elaineo are you already working on the items present on the list for the explorer? Just to avoid working in something that's already being done by someone else.

[2016-08-01 06:35] whatsdis commented on #1
@elaineo list sounds good. I'll reply there

[2016-08-01 06:45] whatsdis commented on #1
@whatisgravity roger, is somebody generating those lists or is the one posted by @elaineo the only existing one?

[2016-08-01 07:15] bobsummerwill commented on #1
@splix So, just to be crystal clear, if I have ...

    upstream = ethereum/go-ethereum
    forked-into = ethereumproject/go-ethereum
    cloned-into = bobsummerwill/go-ethereum

... and then I try to create a PR to contribute a change done in my repo back into ethereumproject then the web UI is defaulting to the upstream, not the fork?   Yuck, yeah, that sucks.

[2016-08-01 07:20] splix commented on #1
@bobsummerwill yes. you can change it of course, but it's not so clear and easy to forget

[2016-08-01 07:47] igetgames commented on #1
To all:

As pointed out by @cjdelisle, if you prefer you should change your organization visibility to "Public" here:
https://github.com/orgs/ethereumproject/people

Then people will have a broader list of who all is involved.

[2016-08-01 13:17] alexvandesande commented on #1
@whatisgravity

All fees from shapeshift are sent to the address prominently displayed at ethereum.org/donate, and we've been open about it since the beginning. The costs are the same for any user that uses shape shift, and we do not keep any information or track  fingerprints. I understand your concerns about a centralised service but AFAIK there is no other decentralised and fast option that rep

[2016-08-01 15:19] MaffeProg commented on #1
Hi all, I am Bobby a webdeveloper. Someone who can write HTML, CSS, JS, Jquery, JSON, PHP(OOP), SQL, MySQL, MySQLi, PDO, Java and a little bit C++ also I am working on python.

I like to help!

[2016-08-01 15:24] whatisgravity commented on #1
@MaffeProg We would love to have your assistance, we could use your assistance on restoring and migrating the python library/client if you are interested in practicing within that language more. We could also use assistance on Java and C++. EthereumJ has already been started so if you are interested in helping with that, contact @bart-w0 or @splix

[2016-08-01 15:29] whatisgravity commented on #1
@alexvandesande Have you put much time into a design? If you have not maybe someone else who is interested can come up with some functional requirements and build a prototype.

I think we could likely find dapp developer volunteers interested in a project to make that function decentralized and trustless. I think it would be a worthwhile improvement over the existing system while being a working e

[2016-08-01 16:34] #6 closed

[2016-08-01 17:02] jahshaka commented on #1
We have a small development team and would love to offer our services as we are building out a financial services platform using Etherium. We are strong in Java and C++

[2016-08-01 17:13] whatisgravity commented on #1
@jahshaka Are you able to provide more information about which financial services you are interesting in building or are you referring to a general use platform to build financial services on top of easily?

[2016-08-01 19:12] realcodywburns commented on #11
I have attached a framework here

https://github.com/ethereumproject/Project_Funding

The smart contract is just a copy/paste

[2016-08-01 21:59] ericsomdahl commented on #1
I would like to throw my hat in the ring as well -- I pay the mortgage doing back-end Java development (15 years).  I have a few years of professional Python, plus a grab-bag of random things I've picked up over the years.

I'm located on the US East Coast if that means anything :smiley:

[2016-08-02 12:57] alexvandesande commented on #1
@whatisgravity

There are more than one decentralised exchanges in the work I am mostly waiting for them to come up. If more than one pops up we can talk with them to standardise price calls and let the user choose their preferred exchange source.

Please do! Thanks.

[2016-08-02 15:50] whatisgravity commented on #1
@alexvandesande I really think building a bridge between our communities is the best route, everyone will benefit from more developers looking at these projects and hopefully creating more open source projects which work on both chains. I appreciate your open mindedness.

@ericsomdahl It is very nice to see someone with as much experience as you offer your assistance. If you are comfortable with p

[2016-08-02 17:17] ericsomdahl commented on #1
@whatisgravity -- thanks for the kind words!  I am happy to help on the python side.  I take it you are referring to pyethereum?

I am new to Ethereum/Classic development so I have a bit of a learning curve ahead of me.

What was the final decision on putting code into EthereumProject?  Fork or local clone and push back to github?

[2016-08-02 18:17] colibry545 commented on #1
Hi guys,

I'm interested in volunteering. I would love to help with something non-tech like monitoring status and updates, put things in order and help everyone to be on the same page. In other words to help you to focus on actual development

[2016-08-02 20:40] kimisan commented on #1
Hi, I am Sianyu.
I am a D3.js designer and blockchain applications developer.
Hope I can join the ETC Explorer develop portion and related ETC blockchain data visualization.
I am familiar with D3.js/SocketIO/Expressjs.

[2016-08-02 23:00] elaineo commented on #1
@kimisan Hi, we're working on an ETC explorer here: https://github.com/ethereumproject/explorer/issues/1

I'm working on building the db on the server side, not sure what the others have in mind for the front end.

[2016-08-03 01:20] whatisgravity commented on #1
@ericsomdahl Pythereum first and possibly pyethapp in the future.

As for the forking question, I believe the best course of action is clone, create remote repository in the organization, remove local origin, replace remote the repo you created within the organization and push.

The reasoning being: especially when learning the code but also finding what you will need to switch within the code, th

[2016-08-03 01:39] whatisgravity opened #12 "Add your public keys"
Please add your public keys to the repository. If you do not have one please take the time to create one, it may not seem obvious at first but they are very useful.

[2016-08-03 01:42] whatisgravity commented on #1
@colibry545 I have invited you, how familiar are you with the organization tools provided by github? Are you comfortable working with git? I think your assistance would be very beneficial, there are a lot of organizing tasks that are currently preventing me from programming that I would love assistance with.

Thank you for setting up the Trello.

[2016-08-03 01:45] whatisgravity commented on #1
@kimisan That would be really amazing, I will send you an invite and I recommend coordinating with @elaino.

If you are accepting suggestions, I would like to see a visualization of the hash rate distribution, I feel visualizing that data goes a long way in preventing too much consolidation.

[2016-08-03 04:46] whatisgravity commented on #1
Anyone able to do a restoration fork of parity?

It is the second largest client and they only release source currently for classic support.
https://www.reddit.com/r/EthereumClassic/comments/4vur2j/cannot_run_parity_for_classic/

[2016-08-03 05:05] colibry545 commented on #1
@whatisgravity No problem. For sure It would be more boards for other teams and projects.

Thank you for the invitation. I’m o’k with using Github. Familiar with organizational tools and I know Git a little bit. So you can give me some tasks I can start with for today. And I’ll do my best

[2016-08-03 05:26] whatisgravity commented on #1
@colibry545 I will need to make you a project owner, so as a precaution can you please setup a public PGP key add it to this repository under the keys folder and setup multifactor authentication on your account please.

[2016-08-03 05:34] jsmith-dev opened #14 "Public Trello Board?"
Threaded GitHub comments reaching capacity of clarity threshold. Any chance a Trello board?

[2016-08-03 05:37] whatisgravity commented on #14
@colibry545 Started one in the last 24 hours, I believe they are organizing the use of it.

[2016-08-03 05:56] colibry545 commented on #14
@jsmith-dev There is a private Trello board for Core Development currently. I can create a new one for different projects and teams. Please let me know if you need a board for your project and I can set it up.
Or if you want to see the public board with overall status and work in progress, available for everyone, I think I can do that too.
So please let me know what do you mean

[2016-08-03 06:13] kimisan commented on #1
@elaineo
Cool!, ETC explorer ! Let work together ^^, I can provide D3.js chart designs , it can integrated into ETC explorer !
@whatisgravity
Ok, I will co-work with @elaineo , for 『visualization of the hash rate distribution』, this portion is no problem. I will use D3.js to implement it .

[2016-08-03 06:31] whatisgravity commented on #14
Is there a way to make it read only to the public?

Jsmith-dev is apart of the organization currently but not a public member. People are still trying to find out where they can contribute time so a publicly viewable board would allow us to be transparent and make it easier to see what needs to be done.

[2016-08-03 07:03] colibry545 commented on #14
@whatisgravity Yes It is possible to make existing board’s public view. Please confirm and I’ll make it public.

[2016-08-03 07:08] whatisgravity commented on #14
Yeah, I think its much better for it to be public, we should strive for maximum transparency. It makes it a lot easier for the organization to get volunteers if it is very clear what tasks need to be completed.

Write access can be granted after a established track record of activity.

It may also be beneficial to add information about the Trello board in the README. The explorer project @elaineo

[2016-08-03 07:15] jsmith-dev commented on #14
@colibry545 & all

Broadly my meaning was public - as in - for all to see...

[2016-08-03 07:21] whatisgravity commented on #14
It should be public soon, I agree it will be much more useful than a github issue thread that is growing very large. That thread is very useful for helping orient new volunteers but we still need an easy way for volunteers to quickly find tasks they can immediately work on.

[2016-08-03 07:21] colibry545 commented on #14
done https://trello.com/b/aiSzWBm7/core-etc-development

[2016-08-03 07:48] whatisgravity commented on #14
@colibry545 Thank you for taking care of that quickly, if you have time can you please add it to the projects section of the README of this repository and give some explanation to volunteers who may not be familiar with Trello

[2016-08-03 09:14] whatisgravity commented on #1
@alexvandesande I disagreed with many points in your latest blog post regarding the fork, unfortunately I was unable to respond because you disabled comments.

I don't understand why you would choose to prevent responses when attempting to articulate your position on something. The path you have taken when contributing to the discussion seems to enforce a bubble of preconceived notions.

[2016-08-03 10:52] gcmartinelli commented on #1
Hello. I am a Python developer (not a professional dev, but I consider myself at an intermediate level) and would like to contribute. My experience is mostly in data science (libraries include Pandas, Matplotlib, scikit-learn, etc.). Unfortunately ATM I do not have a comprehensive portfolio setup in Github to showcase. Most of my code here is related to algotrading and is closed in private repos.

[2016-08-03 10:56] alexvandesande commented on #1
Why do you automatically assume malicious intent? I did not disable comments. I left the default settings and don't see any option to enable them. You can make a public response or make private notes on paragraphs. I believe this is how Medium is supposed to work.

Again, you are assuming ill intent. I did not answer because I didn't want to enter in a debate with you as it's a matter of opinion a

[2016-08-03 11:49] colibry545 commented on #14
@whatisgravity sure, will do it

[2016-08-03 12:01] rguiu commented on #1
I also would like to help. I am experienced mostly with Java, a bit less with JS, also Ruby and Python. If anything is done in Scala, Go or Rust I also will be interested.

[2016-08-03 12:35] ericsomdahl commented on #1
@gcmartinelli @rguiu @whatsdis @marcusyh @MaffeProg
If you are interested in helping out with the Python side of things, join the Slack linked in the README at the top of this thread.  I have created a private channel there -- DM me on slack and I will invite you to the channel

[2016-08-03 13:13] homen3 commented on #1
Hello,
I'm Gianluca, developer from Italy, and I also would like to help.. I'm a frontend developer (AngularJS/HTML5 mainly) but I also develop backend solutions. Java/node

[2016-08-03 15:38] #14 closed

[2016-08-04 01:37] elaineo commented on #1
BTW, if anyone wants to take ownership of classicetherwallet.com, feel free to claim it. I'm happy to keep hosting it, but have no plans to continue development.

[2016-08-04 01:38] cseberino commented on #1
I'm a Python developer, crypto guy, Ph.D. community college physics prof.  I'm pretty good at math too.  I've worked with NSA in the past as well as Qualcomm and other companies.  I'd like to help as I can.
I'm the one that proposed referring to the ETH coins as "Ethcoin" instead of ether.

[2016-08-04 01:40] jsmith-dev commented on #1
@elaineo Yes!

[2016-08-04 02:04] realcodywburns commented on #1
@cseberino  /explorer is using keeping data in mongoDB

[2016-08-04 02:09] whatsdis commented on #1
@elaineo I'm interested, what's the tech stack?

[2016-08-04 02:11] elaineo commented on #1
@whatsdis  nodejs + angular

[2016-08-04 02:13] whatsdis commented on #1
@elaineo okay is there a repo url for it?

[2016-08-04 02:23] elaineo commented on #1
@whatsdis  github.com/elaineo/etherwallet
actually i think @jsmith-dev is gonna move it to his server, ping him on slack if you want to help

[2016-08-04 02:29] whatsdis commented on #1
@elaineo oh okay, nvm then

[2016-08-04 04:30] jsmith-dev commented on #1
@elaineo confirmed as above. I'm in the ETC slack.

[2016-08-04 17:01] avtarsehra opened #16 "Open Oracle Project Team Required"
**What is the Project?**
Open Oracle Project is a public utility to inject web/API data into the Ethereum Classic Blockchain for smart contracts to call and schedule public data feeds to trigger smart contract events easily, securely and cheaply.

**What help is Needed?**
This is a multilayered project with signifiant complexity. At the moment we are in the process of analysing different approache

[2016-08-05 08:13] mmgen commented on #1
I'm the creator and maintainer of the [MMGen cold storage solution](https://github.com/mmgen/mmgen), a front-end to Bitcoin Core written in Python. MMGen is a complete online/offline wallet system that's also convenient to use for day-to-day transactions. It's currently Bitcoin-only, but I'm planning to add support for ETH/ETC and am looking for testers and collaborators.

[2016-08-05 12:19] ericsomdahl commented on #1
@whatisgravity -- can you add @rguiu as a project member?  He has been very helpful in assisting with pyethereum

[2016-08-05 15:01] colibry545 commented on #1
@homen3 Hi Gianluca, thank you for your interest in volunteering. @elaineo is working on Block Explorer and may need your help with Javascript. Or if you know Meteor you can help with Mist https://github.com/ethereumproject/mist and related

[2016-08-05 20:09] Kevin-Bravo commented on #1
Hello, I work in compilers.  Plenty of experience with LLVM -- no idea if that's in any way useful at this point.  Most comfortable in C/C++, Java and Haskell, but always willing to learn something new.

[2016-08-07 18:14] colibry545 commented on #1
@ericsomdahl Invitation for @rguiu has been sent.

@surrey-with-fringe Hi, If you are interested in helping out with the cpp-ethereum you can contact @igetgames on Slack.
Or you can help @bart-w0 and @splix with Java.

[2016-08-07 19:35] elaineo commented on #16
I would be interested in participating in this.

[2016-08-07 22:47] xcthulhu commented on #1
I wouldn't mind helping out with Ethash or porting the security features from BitcoinJ to EthereumJ.

[2016-08-08 05:54] colibry545 commented on #1
@xcthulhu It would be great if you could volunteer your time on EthereumJ. I recommend coordinating with @splix and @bart-w0. They are working on EthereumJ.

[2016-08-09 05:28] realcodywburns commented on #16
I also am interested in this project

[2016-08-09 17:08] elaineo commented on #1
@whatisgravity Do you still need someone to do a restoration fork of parity? Looks like I'll need to mod parity for my own purposes so I can do a restoration while I'm at it. LMK

[2016-08-09 17:12] splix commented on #1
@elaineo btw, what you mean by restoration fork of parity? Parity from master branch (or v1.3) is working perfectly with Classic blockchain

[2016-08-09 17:24] splix commented on #1
@xcthulhu thank you for you interest in EthereumJ. We really need a security expert in the team. Please join us on Slack https://ethereumclassic.herokuapp.com/ (user @splix there).

Btw, our current plan is to follow ethereumj upstream and all changes we introduce should be PR to the main repo, and once they accept changes into master, we can merge this into our master branch. Except the changes t

[2016-08-09 17:54] elaineo commented on #1
@splix I don't know, previously @whatisgravity asked if anyone could do a restoration fork because people were having issues running it on classic. I'm not sure if it's still relevant, so I thought I'd ask.

https://github.com/ethereumproject/volunteer/issues/1#issuecomment-237143353

[2016-08-10 02:51] NotYoMomma commented on #1
@whatisgravity I was sent your way via Slack.  I'm an experienced software development program manager, and I'm interested in getting involved.  I heard there's a need to help the community organize and coalesce around a roadmap and governance structure.  I don't code, but I make code succeed.  :)  Let me know if there's still a need and where to get started.  Thank you much, NYM

[2016-08-10 15:22] colibry545 commented on #1
@NotYoMomma Whatisgravity has been very busy for the past days.
Nice to hear you’re interested in volunteering. Your experience could be helpful to our upcoming projects.
For the moment our team is working hard on core development, Ethereum associated projects and marketing. I would suggest contacting @dontpanicburns on Slack. The Marketing Team may need your help with roadmap and governance struc

[2016-08-10 15:31] mikeyb commented on #1
Greetings!

Looking to get involved around here...

Long time crytpocurrency fan and strong believer in ETC over ETH.  I can help with infrastructure and backend code for any project.

[2016-08-10 15:50] colibry545 commented on #1
@mikeyb Nice to hear you are interested. Can you tell us more about your development experience and skills. It would help in finding projects for you.

[2016-08-10 17:11] mikeyb commented on #1
@colibry545 Long time systems engineer who jumped into the software dev world a few years ago.  I write mostly in php and js.  I am open to any kind of help including coding, code review, infrastructure, systems automation, documentation, and planning.  I am open to learning new skills to help contribute as needed.  My goal here is to help make ETC succeed in anyway possible. You can also review m

[2016-08-10 17:28] splix commented on #1
@mikeyb great! it would be very helpful if you'll help us with setting up test environment. I'm trying to setup https://github.com/karalabe/hive currently, but not luck yet. If you think this is what you can do, please contact me in Slack user @splix - https://ethereumclassic.herokuapp.com/

[2016-08-10 18:33] pingfour commented on #1
Hi guys,

I'm ping, I'm a graphic designer and would love to contribute to the community in whatever way I can.

[2016-08-10 18:40] colibry545 commented on #1
@pingfour Sounds great! We have started some design work and your help would be really appreciated. Please join ETC Slack https://ethereumclassic.herokuapp.com/ channel #website-design

[2016-08-10 18:43] pingfour commented on #1
@colibry545 thank you having me. I will join the channel and work from there.

[2016-08-14 15:53] etherx-dev commented on #1
I'm a developer from http://ethereumlabs.org and would like to join the team too. Currently working on http://etherx.com Blockchain Explorer and a few other projects involving ETC.

[2016-08-14 16:41] mikeyb commented on #1
@etherx-dev I am in no way attacking you, just looking out for the ETC community.

I have a few concerns...

1. You originally put in the wrong domain for ethereumlabs website.
2. Your github account is 3 days old

Any possible way to prove you are who you say you are?  Sorry to ask, but I definitely see some red flags.

Cheers!

[2016-08-14 16:44] colibry545 commented on #1
@etherx-dev Thank you for your interest in volunteering. Can you please provide more details about your experience and skillset.

[2016-08-14 16:59] elaineo commented on #1
@etherx-dev since you have experience with blockchain explorers, would you like to help out with the open-source block explorer? https://github.com/ethereumproject/explorer/issues

[2016-08-15 11:53] kimisan commented on #16
Cool, I am interested in this project.
I am familiar with Quandl api data processing for stocks and Major Currencies, and it it related chart design.

[2016-08-16 18:39] splix opened #17 "New Project Proposal - Classic Dapp Browser/Client"
As an alternative to EF **Mist** client.

Why we need this:

1. It's a user facing app, that's what influence our users the most. We can't just say _use this app, it's not ours, but it's compatible_
2. We need to use our own brand style, rather than reusing it with minor changes
3. Mist is not just a browser, but it's a set of components used by developers for building their Dapps. It's better to

[2016-08-16 18:45] realcodywburns commented on #17
I fully agree with you. I do, however, think the backend should be parity or some other similar 3rd party app. Parity has shown commitment to naming their chain option as classic rather than just --oppose-dao-fork. Geth and ETH can and most likely will move to only support the HF gain at some point.

[2016-08-16 18:49] splix commented on #17
@realcodywburns we can use our version of geth or connect to an external node. I agree that parity is much better

[2016-08-16 19:59] igetgames commented on #17
I propose [Material UI](http://www.material-ui.com/#/) instead of Bootstrap, especially if we use React (which I'm also strongly in favor for). Material UI fits into React a bit better and IMO it's cleaner looking and distinguishes the UI from the original Mist browser.

[2016-08-16 23:53] elaineo commented on #17
I can continue maintenance of Mist in Meteor, or start a new one in Angular. Is it in need of immediate updates?

[2016-08-17 04:25] splix commented on #17
@igetgames MaterialUI looks god, I see they have very nice components. Little bit worried that it looks too much Android, but I guess we can improve it.

@elaineo yes, we need someone to maintain Mist. It's super important at this moment, and we don't have working version yet. It would be great if you would have a look

[2016-08-19 22:48] whatisgravity commented on #17
@elaineo I really appreciate your help on Mist, if you want to take over the project that would be preferable for me. I would like to focus my efforts on geth and possibly a new UI for it.

I have been putting together a more in depth proposal but I think we should make a different UI for geth. I have been investigating the different options for building it with golang but I'm open to other soluti

[2016-08-19 22:56] whatisgravity commented on #1
Please do not forget to add your keys to this repository, use secure passwords (pass is a great tool to manage passwords with gpg) and if possible setup 2nd authentication factor using something like FreeOTP.

@ericsomdahl Sorry for taking so long to reply, it looks like the person has been added. I had taken some time off and @colibry545 has volunteered to help manage volunteers.

Thanks to every

[2016-08-19 23:25] igetgames commented on #17
That’s a an interesting suggestion… Do we currently have Rust developers who want to pursue it? We have several developers who are well-versed in JavaScript, but I haven’t heard anyone mention Rust.

The other advantage of staying with JavaScript (at least for the core of Mist and the wallet) is we can support more platforms than Rust is available for, such as the desktop browser (or other browser

[2016-08-20 00:17] elaineo commented on #17
Sure, I'm happy to take over Mist. I haven't done much research into the performance of Rust vs JS, but I think it's a better choice if we're going for a high-assurance system. It will also be easier to migrate from Rust to Go, than from JS to Go.

@igetgames You can build mobile libraries with Rust: https://github.com/kennytm/rust-ios-android

[2016-08-20 00:27] elaineo commented on #17
@igetgames The point you make about lack of developer support is fair. I'm new to Rust myself, but anyone with a strong background in C should be able to pick it up quickly. It could be tough to attract casual contributors though.

[2016-08-20 00:41] igetgames commented on #17
I'm also interested in learning it ever since reading Parity source. I'm just thinking about getting the most bang for our buck in resources, and the ecosystem for JS is more mature and stable than Rust's.

Ultimately whoever takes lead of that project should make the call.

[2016-08-20 01:17] elaineo commented on #17
@igetgames We can leave this open a few more days to see if others weigh in. If no one speaks up by next Tuesday, I can take the lead in Rust.

[2016-08-20 01:31] realcodywburns commented on #17
I'm fine with whichever language. I don't have a strong preference and can hack & slash in just about any language. I have been meaning to look into rust, now is as good a time as any I suppose

[2016-08-21 00:58] whatisgravity commented on #17
In my opinion, we start at least two new projects:

1. A secure GUI client, the easiest path being that it will pair with existing clients like parity and geth.
2. A dapp browser/client, possibly combining parity with servo (more research needs to be done) or cpp-ethereum and a cpp

Mist will work well as a stop gap while we develop alternative browsers and ways to use Ethereum. It will also ensur

[2016-08-21 02:01] whatisgravity opened #19 "Client Restoration Collaboration"
I started collecting issues related to client restoration, it has been suggested we should all coordinate the best strategies to restore clients to support the original/classic chain.

https://github.com/ethereumproject/volunteer/tree/master/Client%20Collaboration

The article for client restoration needs elaboration, I will link to go-ethereum examples once I finish the process in the next releas

[2016-08-21 02:20] whatisgravity opened #20 "Bootstrap Nodes"
Migrating this important topic that relates to all Ethereum Classic clients from the go-ethereum the issues section (https://github.com/ethereumproject/go-ethereum/issues/4) to the general volunteering repository.

---

To help us maintain our own network and further limit issues with the ETF chain we need to run our own dedicated bootstrap nodes.

If you can run a dedicated bootstrap node, a node

[2016-08-21 03:20] whatisgravity commented on #1
@colibry545 Are you able to assist in generating a list of organization members that have not had any activity within the ethereumproject github organization?

I believe it would be best to invest time in removing inactive accounts to prevent later potential abuse. We may want to publish the list too so they can have a chance to choose to stay within the organization.

It may also be wise to start

[2016-08-21 03:24] whatisgravity commented on #1
A list of all ETC developer slack channels, IRC channels or other avenues of communication would be useful in the README too if anyone has time to aggregate that information.

[2016-08-21 05:30] colibry545 commented on #1
@whatisgravity Sure, I will do. Thank you for creating new Trello board.

[2016-08-21 11:15] splix commented on #17
I like idea of using Rust for main code, Rust focus on security and performance better fits this project.

But we really need someone experienced with Rust. I know, it's always easy to learn new language, but even for experienced developer who just switched to a new language, it takes a year or two to start writing really good code. And he usually embarrassed of the code he wrote during first year

[2016-08-22 14:39] whatisgravity commented on #17
I'm not suggesting we completely abandon the EF paradigm of Javascript dapps/ui. I believe we can maintain that work alongside an alternative that I believe is more secure.

[2016-08-22 18:02] whatisgravity commented on #1
The cpp-ethereum repository needs to at least have issues enabled but it would be better to use the method described above where you git pull, rm the origin, create a new repository, add the new origin and push. Fork in github is a github abstraction and you get less features if you just fork, it also makes managing pull requests more tedious.

[2016-08-22 18:18] mikeyb commented on #1
we should probably do the same for https://github.com/ethereumproject/etherwallet

[2016-08-23 03:06] whatisgravity commented on #1
It does appear that repository does not have issues either, @elaineo when you are available can you decide if you want to enable issues or  pull, rm the origin, create a new repository, add the new origin and push.

[2016-08-23 14:56] keylorsdu commented on #1
Hi:
I am Keylor, I can invest my weekend in doing something for community,I use Java, Language is not a problem,but I am new to BlockChain, maybe I can learn more in practice, especially in dong small project works.
Thank you!

[2016-08-23 15:09] colibry545 commented on #1
@keylorsdu It is nice to hear you would like to volunteer. We're using Java for EthereumJ project. Please join Ethereum Classic Slack https://ethereumclassic.herokuapp.com/ channel #development and contact @splix and @bart. They may need your help.

[2016-08-23 15:36] colibry545 commented on #1
Hey guys @dustysesameseed @jeffanthony @jikkuJose @marcusyh @nnadir @vodnic @maffeProg. We’re planning to remove inactive members from ethereumproject github organization. This is an important policy to prevent later potential abuse. If you will be removed due to inactivity, you won’t be penalized or punished. You are welcome to request to be re-invited back into the organization when you have mor

[2016-08-23 16:47] splix commented on #17
It's not necessary to provide keys to the Dapp. Dapp usually just can asks to approve a _transaction_ from parent. Currently it's done through JSON RPC, you send a request to a node and if this key is locked it asks a user to unlock with password. That's how Mist and MetaMask works at least. Parity also haw a "Signer" feature, with deferred actions, where you can approve key usage later by using a

[2016-08-23 17:20] elaineo commented on #1
@whatisgravity re: issues, can't I just enable issues in the settings? (just did)

[2016-08-23 17:22] splix opened #21 "New Project Proposal - Minimal Wallet"
We need a simple native desktop Wallet without contracts and other stuff. This idea is floating around. It has been mentioned in Slack, Reddit and here on Github. So probably everyone is agree that we may need it.

  * Ethereum Wallet/Mist is too misleading. is it Wallet or Dapp browser? And you need a PhD in Fancy Interfaces to understand its UI
  * we need fast and _simple_ wallet
  * which is n

[2016-08-23 17:32] mikeyb commented on #1
I personally think having non-forked repos in a project of this scale should be standard.  Obviously it doesn't make much difference, but it looks way more professional.  Plus the ethereumproject version seems to be the one getting updates.  Also, using master branch as default should be standard as well.  Currently defaulting to 'mercury' which I don't understand what mercury stands for.  Do I ma

[2016-08-23 17:44] splix opened #22 "New Project Proposal - Java Client library for Ethereum"
A Java library to operate through Ethereum JSON RPC

Java is standard de facto for corp and fintech development, if we want to have clients from big firms it's extremely important to provide full Java support for them (and EthereumJ is not a solution).

We need flexible client that can connect to Parity and Geth:
 * get any information and convert to Java native structures
 * send transactions
 *

[2016-08-23 20:18] whatisgravity commented on #22
For clarification, you are proposing a API Wrapper for both the existing RPC and IPC client in Java? As opposed to the EthereumJ which is a full client implementation.

I think it is a good idea, and fairly small project compared to a full client. On a similar subject, is EthereumJ implementing a light client yet?

[2016-08-23 20:28] whatisgravity commented on #1
It appears there has been forking of repositories like:

https://github.com/ethereumproject/homebrew-ethereum/commits/master

And no changes have been made. Please only fork if you are planning on starting the project or need specific changes. If no one claims these projects, I will go ahead and remove them to reduce clutter in the organization.

[2016-08-23 20:29] whatisgravity commented on #1
@elaineo Absolutely, thats why I said you can decide if you want to enable issues or rebuild the repo. I believe you should do whatever works best for you.

[2016-08-23 20:33] whatisgravity commented on #1
@mikeyb I agree with the HTTPS recommendation. Let's encrypt makes it very easy to setup for free and ensures the security. I also recommend setting it up in a way there is perfect forward secrecy.

I also agree about the comment regarding the repositories. The github fork is a logical abstraction that doesn't work well for our case. Forks are treated in many ways like second class citizens. Also

[2016-08-23 20:56] elaineo commented on #1
@whatisgravity Oh, I see. I'm not familiar enough with open-source licensing to know how appropriate it is to create a new repo vs a fork. The creators of etherwallet complained on reddit about improper attribution when a new repo was created for the chrome extension.

[2016-08-23 21:07] mikeyb commented on #1
@elaineo do you have a link to that reddit discussion?  For etherwallet specifically, just leaving the LICENSE.md file with the current attribution in place should be fine:

You can create a brand new repo with all the current code and use it however you like as long as that license stays in place.

[2016-08-23 21:10] elaineo commented on #1
@mikeyb
https://www.reddit.com/r/EthereumClassic/comments/4yymys/ethereum_classic_wallet_extension_for_google/

On Tue, Aug 23, 2016 at 2:07 PM, mikeyb <notifications@github.com> wrote:

[2016-08-24 00:44] realcodywburns commented on #1
Yes, I would also like some clarity on the open-source licensing. It is getting rather annoying hearing from reddit 'lawyers' and random github contributes about how our project should display and place attribution. As such, at what point of changing a project is it no longer "related" to the parent project and they can just be left in a license file. The chrome extension and ether wallet project

[2016-08-24 01:00] mikeyb commented on #1
@realcodywburns They vary.  You have to understand the license of the software you are copying.

For your project https://github.com/realcodywburns/ETC-CX-Wallet you are violating the license by not including it.  You must include a copy of the license and `Copyright (c) 2016 MyEtherWallet`.

You can read the license of the software you are modifying at https://github.com/kvhnuke/etherwallet/blob/

[2016-08-24 01:04] realcodywburns commented on #1
I am all for including the license. It has never been removed. I'm referring to the request to include links to their original fork.

[2016-08-24 01:08] mikeyb commented on #1
Where is the copy of the license in your version of the software?  I do not see it.  You took a substantial portion of their software and didn't copy of the license best I can tell...  It's an honest mistake, I am in no way faulting you.  But you should definitely add the license back into your copy of the software.

You in no way have to include links to the original fork, per that license.

[2016-08-24 01:13] realcodywburns commented on #1
Ah, I see the confusion. The repo in my personal git was my editing offline version. The actual project is the ethereumproject/etherwallet. My repo was for offline editing and is not linked in any of the documentation as it is a subset of the actual project. It was updated when it was completed. Git hub dosent allow for forking sections of a project that I know of. I will fix that.

The actual pro

[2016-08-24 01:27] realcodywburns commented on #17
I like the concept of Metamask providing dapp functionality in regular Chrome by using the web3.js. Chrome and firefox do many things very well that would be hard to reinvent. I guess I do not understand the need build a new browser if the only improvement is adding dapps.

[2016-08-24 03:14] JikkuJose commented on #1
@colibry545 I would like to be readded, was quite busy last month. I should be able to find more time shortly.

[2016-08-24 07:11] colibry545 commented on #1
@JikkuJose That would be great!

[2016-08-24 08:02] splix commented on #22
Yes, API wrapper, a low level around JSON RPC, and a high level on top of it for interacting with contracts.

EthereumJ is a full client implementation, people can probably use it as embedded node, I even think it's EF goal for this project. But it's too heavyweight solution.

[2016-08-24 13:22] whatisgravity commented on #1
Github forking has no affect on the lisense. Forking within github is just a sometimes helpful abstraction layer Github created over the git system to help identify derivative work and network related software and the changes made to it.

The git history itself is intact when doing the method above. This is important because (1) it tracks author contributions so copyright ownership is known (2) ke

[2016-08-24 13:47] whatisgravity commented on #1
I will clean that post up and make a separate issue regarding licensing since it is an important topic.

[2016-08-24 23:05] whatisgravity commented on #22
I think it is a great idea, I believe it would find a lot of use.

[2016-08-25 01:48] whatisgravity commented on #16
Has this project made progress? Where is the active conversation happening so we can link to it in this thread for interested people.

[2016-08-25 01:49] whatisgravity commented on #11
Conversation has migrated to: https://github.com/ethereumproject/project-funding/issues/7

I encourage everyone to participate, this is a very important topic.

[2016-08-25 02:01] dax-classix commented on #21
Sounds like a fun project that I could spend some time on.

Technology - wise, using something similar to Mist would probably make sense, but I think improvements could be made to make it work both both on desktop (local node) and in-browser (with a hosted node).

* EITHER Electron (Native Wrapper, for creating a downloadable executable + os integrations), OR React-Native https://www.infoq.com/art

[2016-08-25 02:05] whatisgravity commented on #1
Is there still activity on EthereumJ?

[2016-08-25 02:09] whatisgravity commented on #1
@elaineo Would you mind if I cloned etherwallet and created a new repository and pushed it there with the full commit history. I can rebuild the issues too. I can take full responsibility too, so if anyone complains, you can direct them to me and I will explain the pragmatic reasons for the choice.

[2016-08-25 04:14] elaineo commented on #1
@whatisgravity Fine with me, I had stopped working on it because @jsmith-dev was planning to take the lead on further development. @jsmith-dev, you still in?

[2016-08-25 11:28] beholder0x2a commented on #1
Hello. I've been watching the development of the classic Ethereum flavor and would like to help. My time is pretty limited right now, but I can contribute to cleaning up docs if that's needed and maybe a bit of coding (JS, Ruby, Python, Go) if the opportunity arises.

[2016-08-25 11:56] colibry545 commented on #1
@beholder0x2a We would appreciate your help with cleaning up documentation for readme files for some of our projects. Currently readmes contain many links to Ethereum(ETH) like links to issues, wiki, download links. Please take a look at Readme files for Mist, go-ethereum and web3js.

[2016-08-25 12:17] #11 closed

[2016-08-25 12:19] splix commented on #21
@dax-classix I think you want to take a look at https://github.com/ethereumproject/volunteer/issues/17

[2016-08-25 12:54] splix commented on #22
I can start this project this weekend.

Any suggestions how to name this project?

[2016-08-25 13:24] splix commented on #1
@whatisgravity we made a release with fixes and support for Classic not so long ago. And now we're waiting for new changes from EF. Basically EthereumJ is following upstream master from EF EthereumJ, but they didn't commit much to this branch since last release. We'll merge existing commits, there're just few of them.

[2016-08-25 17:09] colibry545 commented on #1
Guys, can you please add your pgp public keys https://github.com/ethereumproject/volunteer/tree/master/Keys @avtarsehra @cjdelisle @igetgames @rguiu @jsmith-dev @masonicGIT @Machete3000 @MrComputerCodes @Panguexe

[2016-08-25 20:50] igetgames commented on #1
Done, I just need someone with write access to merge #23.

[2016-08-26 01:18] ericsomdahl opened #24 "New Project Proposal - Python Client library for Ethereum"
The rationale for this is identical to the proposal put forth by @splix in Issue #22.

The python client ecosystem (pyethereum, pydevp2p, pyethash, and pyethapp) combine to form the functionality of a full client node.  There is no lib on the python platform that provides the bindings necessary for an application to interface with a full node though.

My contention is that development of this libr

[2016-08-26 01:22] ericsomdahl commented on #24
This project already exists -- https://github.com/pipermerriam/ethereum-rpc-client

According to the README it only implements a handful of the RPC calls.  Perhaps a fork into our repo can shore up that functionality?

[2016-08-26 01:27] ericsomdahl commented on #24
Well some more research shows that ConsenSys has a client as well:  https://github.com/ConsenSys/ethjsonrpchttps://github.com/ConsenSys/ethjsonrpc

This client is fully featured.  It seems like this proposal is unnecessary.  I am closing it :smile:

[2016-08-26 01:27] #24 closed

[2016-08-26 01:46] ericsomdahl commented on #22
I would like to help with coding too.

One of the most common criticisms this project gets is that it is just a cut&paste.  New code being added should be named in a way that marks it clearly as ETC in origin.

How about
jetcrpc
j-etc-rpc
jclassic-rpc
etc-rpc4j
those are all pretty business-like.  Maybe there are some crazier ideas...

[2016-08-26 13:20] whatisgravity commented on #22
Putting the license as GPL and complaining about "copying and pasting" like it is a bad thing shows a massive gap in knowledge on the purpose of the GPL license. It is literally to guarantee the right to copy, modify, and redistribute that software always remains and that guarantee remains with all derivatives.

Ethereum Classic community is doing an amazing job considering it is purely a voluntee

[2016-08-26 14:14] beholder0x2a commented on #1
@colibry545 thanks for the direction, I'll go through those Readmes this weekend.

[2016-08-26 18:49] ericsomdahl commented on #22
@splix this project should be very straight-forward.  The big question in my mind is how to treat the domain objects.  Are you of a mind to use JSON-like Map<String, Object> structures or a declared set of strictly-typed domain classes?

I suspect ethereumJ probably already has spec'd the domain objects -- the path of least resistance would be to start from there.

[2016-08-26 20:10] splix commented on #22
@ericsomdahl I'm not a big fan of names with `xxxx4j` or `xxxx4java`, like it was popular 15 years ago :) and I don't think name should indicate that it's written by classic team, as we're writing lib that can be used for any of ethereum node and chain, so project name is not the best place for politics imho. `org.ethereumclassic.` package is enough to stand for itself :)

We need something simple

[2016-08-27 17:58] whatisgravity commented on #17
I don't think I made my point very clear about the XSS attacks. I'm taking a little more time and doing some PoC with Mist. Then I can illustrate my point better.

There are other design reasons why as a developer interested in making decentralized applications Mist is crippled too, primarily because I don't think people should be relying on centralized servers to serve assets, or storing them on

[2016-08-27 18:13] splix commented on #17
@whatisgravity JFY I've started with the project, trying to structure it better, and going to split it into smaller projects

About centralization server - we use browser for js and html, this browser could not even know where from this files were downloaded. Protocol is controlled by Launcher, resulting html rendering and js execution is controlled by Browser. It's just separate things.

[2016-08-27 20:08] whatisgravity commented on #1
@beholder0x2a I sent you an invite, and added you to the groups you listed programming knowledge in.

[2016-08-27 20:34] whatisgravity commented on #17
My understanding was based on early Ethereum websites like Etherdice that would have you navigate to their web site inside of Mist browser and web3.js hooking into Mist and providing information from the blockchain to be rendered on the page. If this is not the standard implementation that may be why I'm not understanding.

[2016-08-28 05:35] splix commented on #17
I mean that if we do that just to add new transport protocol, it's not necessary to make a custom browser. Notice that Tor, ZeroNet and I2P are using custom protocols but you can use them from standard Chrome. Okay, Tor maybe doesn't want you do to that, but it's because of other reasons.

I believe Chromium already have a security team, and if we'll find a XSS because of a browser bug they will b

[2016-08-28 08:12] colibry545 opened #26 "Setup test environment"
- https://github.com/karalabe/hive
- add simulator for unforked chain
- setup our clients
- need servers

[2016-08-28 12:06] splix commented on #22
https://github.com/ethereumproject/etherjar

[2016-08-28 12:06] #22 closed

[2016-08-28 14:28] beholder0x2a commented on #1
@colibry545 @whatisgravity  I imported the ethereum/wiki repo to our namespace and so far updated all the links in the geth wiki to point to the ethereumproject namespace. Would it make sense to make a "Wiki" team for eventual community editors?

[2016-08-28 15:21] colibry545 commented on #1
@beholder0x2a Thank you for your assistance! If you would have more time, you can check https://trello.com/b/aiSzWBm7/ethereum-classic-clients if there is anything you can help us with.

[2016-08-29 19:26] avtarsehra commented on #16
@whatisgravity apologies, progress on this slowed down due to focus/time being required on another ETC dapp delivery priority that I needed to meet for a demo we want to do at the Shanghai event.

On the Open Oracle Project there has been pr ogress at the consensus level, which is the most important aspect, i.e. how we can incentivise third parties to run bridging servers in return for a share of

[2016-08-29 19:29] avtarsehra commented on #16
@kimisan that is great, thank you for your interest. Are you also on slack? If so what is you username, then I can add you to the OOP private channel.

[2016-08-29 19:58] kimisan commented on #16
@avtarsehra  sianyu

[2016-08-29 21:11] beholder0x2a commented on #1
@colibry545 bh0x2a

[2016-08-30 14:02] colibry545 opened #27 "Membership, post to volunteer 2"
Please post here if you would like to gain membership to the ethereumproject organization which manages the Ethereum Classic development (ETC). Please introduce yourself, tell us your skillset and how you can contribute to the project.

_For volunteers interested in helping with community organization, management and other administrative tasks please visit: https://github.com/ethereumclassic/READM

[2016-08-30 14:02] colibry545 commented on #27
This issue has been opened in order to replace https://github.com/ethereumproject/volunteer/issues/1 which already has about 200 comments.

[2016-08-30 14:05] colibry545 commented on #1
This issue has been opened a month ago and it has 200 comments. I have opened a new one https://github.com/ethereumproject/volunteer/issues/27 Please post there if you would like to volunteer.

[2016-08-30 14:45] arvicco commented on #1
@colibry545 Please don't close this issue as well, as the link to it has been posted all over the Internet.

[2016-08-31 09:11] whatisgravity commented on #16
@avtarsehra No problem, I just want to make sure volunteers coming to this repository to know how they can participate. Thanks for providing an update.

[2016-08-31 14:53] whatisgravity opened #28 "Bomb Defusal Patches & Discussion"
The repository 'thebomb' has been migrated into this volunteer repository to consolidate general ETC  development discussion into a single repository. This will make it easier to check in on discussions  without having to check multiple issues sections. As discussion spread out recently it got more sparse, I'm hoping consolidating the topics to a single area will keep the conversations active as p

[2016-09-01 12:46] colibry545 commented on #27
@beholder0x2a Hi, I can’t  reach you on Slack. When you get a chance, can you please help us with this https://trello.com/c/u2C7d02C/14-in-the-eips-github-repository-the-modern-style-is-to-use-md-markdown-instead-of-mediawiki-the-issue-there-is-only-a-mediawiki-te

[2016-09-01 17:22] pyskell commented on #27
I would like to. Though I'm rather busy through mid-October.

But as for experience:
2 years programming experience (self taught)
7 years of working with a variety of data (Excel, SPSS) in the market research field

Work in C# daily producing user-facing applications. Mostly handling parsing of various human readable data formats and putting them into other human readable formats.

Other languages

[2016-09-01 19:18] colibry545 commented on #27
Hi @pyskell, I have invited you to the organization, hope you will join our dev team in October or earlier.

[2016-09-02 17:21] elaineo commented on #28
@whatisgravity Don't we need to come to an agreement (at least among clients)  over the difficulty adjustment post-patch, or are we just returning the minimum difficulty before exponential factor?

Also, I assume the patches are only modifying the difficulty and block validation, and will not make any modifications as far as fork deployment/management.

[2016-09-02 20:09] arvicco commented on #28
I think bomb defusion hard fork should be tied to other critical changes:
1) Addressing uncontrolled DAG growth
2) Addressing monetary schedule
3) Reply attacks

All 4 issues require a hard fork for resolution, so ideally all 4 should be addressed by a single hard fork to avoid disruptions caused by separate HF events. @snaproll (on Slack) was working on a document to summarize the issues and our

[2016-09-03 18:10] kimisan commented on #17
I am a fully node.js/expressjs/d3.js guy ...
So maybe I can help with the default UI develop and UX/UI design.
I will start to prepare some prototype of wallet default UX/UI for your reference .

[2016-09-03 20:38] realcodywburns commented on #28
I do not believe there is an issue with the monetary schedule.  5 etc a block is very conservative.  With that pace, etc might hit 1 billion coins around 2100. It is not as pressing as the difficulty problem. @Elaine we should just be able define a block and snip off the exponential factor. The rest of the equation would regulate the difficulty back to the level needed for normal operation. But it

[2016-09-03 20:43] realcodywburns commented on #17
https://etheropt.github.io/  is a good example of a fully web3 integrated site. You can reach it in a regular browser, it can interact with either a chrome plugin wallet or geth running locally

[2016-09-04 07:42] kimisan commented on #17
Wow , a decentralized options exchange !
Good for Classic in the future !

[2016-09-06 03:08] bardacuda commented on #20
I'm no longer running a node as I have switched my rig to folding.

[2016-09-07 07:32] sethfork opened #36 "Rename the github organizations"
## Rename the github orgs

**If the schism in the Ethereum community wasn’t already confusing enough for outsiders, it’s obscured even further by the names of our two github organizations - and to our own detriment.**

Consider this scenario:
If an outside party had just heard of the Ethereum Classic Project and wanted to examine our development efforts, they would instinctively search 'ethereum c

[2016-09-07 08:54] whatisgravity commented on #36
I

This is the Ethereum Classic project, so ethereproject, makes sense. Especially considering as the logic of the situation is that this is actually Ethereum just as much as ETF is Ethereum.

The move would require a lot of time, several projects have a lot of lines of the code with this organization name, and its not just a simple find and replace job to switch it out.

Doing this provides littl

[2016-09-07 09:24] whatisgravity opened #37 "Productivity Tools"
I thought it would be worth having a thread to discuss productivity tools to make our limited volunteering time have more impact.

I have been working on rebuilding my development environment and compartmentalizing using containers. While I have been doing this I have been reworking my deploy scripts, rebuilding my backup scripts, improving my vim configs, reviewing and practicing rust, and doing

[2016-09-07 12:15] ericsomdahl commented on #36
I agree that there are no technical benefits to renaming the ethereumproject org.  The benefit is purely on the business side.   [ethereumproject](https://twitter.com/ethereumproject) is the Twitter handle of the EF.  Using that on github makes us look like we are at the level of domain squatters.

As to the effort required:  [A search of the ethereumproject org](https://github.com/search?l=go&q=o

[2016-09-07 14:05] igetgames commented on #36
Give me the permissions needed to do the rename in both organizations and I'll take care of the move and the rename. The move and rename would take an hour at most. The combined cost of developers having to update their remotes on the projects they have checked out is negligible.

@whatisgravity It's up to the volunteers to decide how to manage their time, not you, although your opinion of where t

[2016-09-07 14:11] arvicco commented on #36
Please don't forget that our site http://ethereumclassic.github.io/ is a Github Page. Renaming the org means the site needs to be transferred there as well, and the people from current ethereumclassic org who maintain it given appropriate rights.

[2016-09-07 14:24] igetgames commented on #36
I've taken the step of reassigning permissions into consideration. I didn't think about any GitHub pages, thanks. I move my estimate to two hours to cover anything else like that.

[2016-09-07 14:29] ericsomdahl commented on #36
@igetgames l was going to make you an owner of the org, giving you renaming perms, but my ownership privs were removed a few minutes ago.  I will do some testing to see whether that broke our Bintray integration (enabling that integration is why I had owner privs to begin with).

I am assuming that @whatisgravity is now the GodKing of this organization and that all decisions must clear him.  All h

[2016-09-07 14:31] splix commented on #36
I agree that it would be better to have _ethereumclassic_ project name (or _etc_, or anything like that). It makes a lot of confusion to the people that are coming to ETC, they can't understand which project it legit.

On other hand I see that it's not so easy to make this migration. It will take time, not only for updating all internal links and configurations, but also to update all external lin

[2016-09-07 14:35] splix commented on #36
@ericsomdahl Sorry, it's me who reverted your status to a standard member. Nothing personal, I just trying to stop us from making important decisions too fast.

[2016-09-07 14:41] ericsomdahl commented on #36
@whatisgravity I apologize for those remarks.

@splix One week of lead time is insufficient?   How much time is appropriate then?  a month? a year?  Noone was talking about making these changes today.

[2016-09-07 14:46] igetgames commented on #36
@splix We had a lot of developers pushing for it on Slack, so we moved the discussion here to facilitate more discussion. We aren't planning to do anything until a week after we make an announcement of our intent.

[2016-09-07 15:14] splix commented on #36
I agree that we should discuss it, I'm just against making these changes today (maybe I misunderstood you, but it looks like there was a plan to do it "_today_", even this concrete word was used).

I was thinking about this naming too, but considered it as not so important for now. I personally think if we'll start focusing on an unimportant things, we can lose our momentum and our chance to make

[2016-09-07 16:12] ChuckSRQ commented on #36
There was plan to make an "announcement" today to make the change a week from now to allow developers the time to prepare for the change.

But it was sort of a pre announcement announcement just to make sure it was okay. Which it obviously was not. And we prepared for that by encouraging people to make an objection if necessary. So I apologize if I jumped the gun. But I was just tired or seeing co

[2016-09-07 22:14] sethfork commented on #36
It's hard to see why this would be a contentious issue.

Despite @whatisgravity's assurances of this being an unjustifiably laborious pursuit for the 'no benefit' it provides; members of the marketing, administrative, and community development teams on slack are, for the most part, in complete agreement that this would be an obvious move- so long as it doesn't hinder development.

If we can accept

[2016-09-07 22:36] pyskell commented on #36
I'm pro renaming for the following reasons:

* Reduces confusion between the two projects
* Improves our brand identity
* Would help search engine results. Right now the top github.com result for "Ethereum Classic" is the "ethereumclassic" repo, not this one.

Perhaps we can two stage this though, come to consensus on whether or not to change the name, then establish the timeline if we agree on a

[2016-09-07 23:12] igetgames commented on #36
From the prior discussion on Slack and this thread, it appears we are at majority consensus. Let's let it percolate for a couple of days to allow more people to weigh in. Now we need to establish a timeline. This is one of those situations where it is easier to rip the band-aid off now than to wait until we have more developers and projects to fix.

FTR, no one is talking about changing the name o

[2016-09-08 00:37] elaineo commented on #36
@igetgames Slack is not the right place to come to consensus, because not everyone uses slack and this is a github issue.

I think it's an unnecessary PITA because I have 8 ethereumproject repos on my local machine and 4 more across 3 servers. I'm okay with renaming everything if there's a strong push for it, but I don't see what problem it's causing. The people actively working on this stuff aren

[2016-09-08 00:58] realcodywburns commented on #36
It's just a name for me, if the projects im working on moves I'll find it. Parity does it's its own thing. Always room for etccore repo :)

[2016-09-08 01:13] etherninja commented on #36
aye

[2016-09-08 01:43] CarloVetc commented on #36
Let me preface this by saying I am not a developer by any stretch of the imagination. I have an extreme amount of respect for what the development community does, it is the bedrock that this community stands on. I agree that this is a small nitpick issue but I think it has a relatively substantial effect on how the community is viewed by the general population interested in the project (not just t

[2016-09-08 04:56] elaineo commented on #36
@CarloVetc are people having trouble finding the github repo? We can add a note to the organization description.

It's not a huge task, but it is a small task for a large number of people who are just beginning to self-assemble.

[2016-09-08 06:58] splix commented on #36
@ChuckSRQ I really like how you summarized all reasons, that's how this discussion should go.

I want to clear my position here. I agree that it's better to rename Org, and I see most of us agree. And that's great that we all come to an agreement. But it doesn't mean we should do it right now. It doesn't even mean we should do it at all.

Right now it looks like Dilbert comics. When Biz is failing

[2016-09-08 12:05] ChuckSRQ commented on #36
Well thank you for clarifying @splix. I just want to point that Eric didn't make the decision unilaterally, nor did he ever agree to do it right away. The soonest it would have been done would be a week from now. So even if a public announcement had been made, there would have been ample time to prepare or reverse said decision. I don't think it's fair to revoke any permissions he had when we did

[2016-09-08 13:40] realcodywburns commented on #36
I believe the proper way to address this issue is to create an ECIP. We need to start using them to track accepted, discussed and rejected idea for the project so we do not have to continuously revisit topics in the future as well as have a single repo for such matters. We need to start consolidating issues that will need to be included on the next ETC release; the bomb, the name, a coin cap (no t

[2016-09-08 14:00] splix opened #38 "New Project Proposal - Solidity plugin for Intellij"
IntelliJ IDEA is second most popular IDE for JVM (have 44% share, after Eclipse 48%). Also it's popular on other platforms and have special versions for developers on Python, PHP, Ruby and C/C++. Many of ETC Dapp developers are using this IDE.

But currently it doesn't have a plugin for Solidity, check there https://plugins.jetbrains.com/search/index?search=solidity

I think it's important to crea

[2016-09-08 14:34] igetgames opened #39 "Consolidate a few Slack channels"
Slack is a great medium for us to get together and communicate, but sometimes it becomes difficult to find the right channel for discussion. Some channels discuss the same topic, but were created with similar intentions earlier in the project. We also have a bot that bridges channels across two IRC networks, and due to where it's currently situated, those channels might be excluded from pertinent

[2016-09-08 15:10] arvicco commented on #39
I support consolidation of #irc and #general. My concern about providing IRC bridge to #classic is that it is an access-controlled channel. Admins only invite ETC supporters to it, not just everyone. Since anyone can join the corresponding irc room, it kind of defies the purpose. Unless we create some kind of "secret" IRC room with access only to ETC supporters who don't want to be on Slack for so

[2016-09-08 20:23] igetgames commented on #39
@arvicco Thank you for the feedback. The private global_planning channel is already bridged to the corresponding room that @whatisgravity resides in, on OFTB.net. There are only two other developers in that room currently, not including the bridge bot. So moving the bridge to the private classic channel would just expose gravity, @ericsomdahl (who is already on Slack) and one more developer to the

[2016-09-08 22:51] arvicco commented on #39
Looks like a good plan then, no objections to consolidation. I'm not familiar with Telegram either, but if there is a way to make a bridge between ETC channel on Telegram and #general on Slack, that would be swell.

[2016-09-09 01:47] sethfork commented on #39
- Move the IRC bridge out of #global_planning into #classic, and archive #global_planning.

These changes appear to be no-brainers. I support @igetgames moving ahead with this.

-
Regarding the further consolidation of slack channels:

A small team focussed on community development has been forming. We're quite active in our discussions on community management related topics such as channel mainte

[2016-09-09 04:23] igetgames commented on #39
Sounds good to me. Thanks guys!

[2016-09-09 04:23] #39 closed

[2016-09-09 16:21] arvicco commented on #36
@realcodywburns I don't think changing the org name justifies ECIP.

Some ETC supporters, both on dev and marketing side, feel it's the right thing to do, reasons are summarized by @ChuckSRQ pretty well. The arguments against it so far is that it's a distraction and minor PITA for repo maintainers. Also, requires some dev time. But if the people who promote this initiative are going to volunteer t

[2016-09-09 16:55] realcodywburns commented on #36
I understand the logic behind it. My point in suggesting creating an ecip
is for historic tracking of the matter. If the name change isn't considered
an improvement, I'm not sure the need for it. Everyone is free to do what
they want with their time, but if moving repos doesn't improve the ETC
experience in some way it is just change for change sake.

On Fri, Sep 9, 2016, 11:21 AM Ar Vicco <notifi

[2016-09-10 02:32] xtac4u22 commented on #27
Would to spread the news about the development of ETC all over the Internet.

[2016-09-11 02:29] ChuckSRQ commented on #36
@bitnovosti I think the most logical and easiest thing to do then is to leave the "EthereumClassic" Organization as is and rename the "EthereumProject" organization to "ETCproject"

Or.... merge "ethereumproject" into "EthereumClassic" Organization.

Option 1 would be best semantic wise, but I would gladly support whatever is easiest.

[2016-09-13 18:14] colibry545 commented on #27
@xtac4u22 That’s would be great! You can contact @seth on Slack, https://ethereumclassic.herokuapp.com/ or @aztek_btc on Telegram https://telegram.me/etcdev Guys may need your help.

[2016-09-19 12:48] ChuckSRQ opened #42 "Best Practice Guidelines for Adding Code for ETC Development."
It seems like it would be wise to have it written down on our Github organization somewhere what the best practices would be for ETC Devs adding code/using the EthereumProject Organization . It seems clear that many ETC Devs know how to use Github but because many are used to using it in different ways, developers are not on the same page and time is being wasted correcting mistakes. A few hours w

[2016-09-19 13:28] ericsomdahl commented on #42
Not all of the repos within the organization are critical-path items in need of close control.  The first step can be identifying those repos.

Obvious candidates are:  go-ethereum, cpp-ethereum, mist (and related repos).  Perhaps web3.js?

[2016-09-19 13:51] mikeyb commented on #42
Can one of the owners of the ethereumproject organization sign up the org for the [early release](https://github.com/prerelease/agreement) of github features please?  I think it would be beneficial to setting up the critical repos with the 'Protected Branch' setting requiring at least one maintainer to sign off on PRs before they can be merged.  This setting will be available in https://github.com

[2016-09-19 13:55] splix commented on #42
That can be useful.  I'll take a look in docs. Do you know anyone who have tried it?

[2016-09-19 13:58] splix commented on #42
It looks like the process suggested. It will be forced by GitHub that every PR will me reviewed before merge. I like it

[2016-09-19 13:59] mikeyb commented on #42
ethereum/go-ethereum project is using it.  It basically disables the merge button until the requirement is met.  I have also started using this in the repos I maintain for the organization I work for, mostly to get other people to help me review PRs

[2016-09-19 14:01] splix commented on #42
Ok, sounds great. I'm agree with this. Anyone disagree?

[2016-09-19 14:41] realcodywburns commented on #42
I'm in agreement, protect the core

On Mon, Sep 19, 2016, 9:01 AM Igor Artamonov <notifications@github.com>
wrote:

--

*Thank You,*

*Cody W Burns*

Operations Manager - US Market

Geophysical Land Services, LLC

*Land Management - Surveying - Exploration*

www.GLSsurvey.com

GLS - Main Office

936-328-8112 (office)

Cody.W.Burns@gmail.com

PGP: 0x877C1BBC931F608F

[2016-09-19 16:01] splix commented on #42
I didn't set status checks, as we don't have any for go-ethereum currently (that's another moment which should be fixed). And have set to require code review even for admins.

[2016-09-19 16:10] igetgames commented on #42
Sounds good. How many people do you have that can review on the Go team? @jsmith-dev is also volunteering for cpp-ethereum, but I don't have permissions to add him to the cpp team, so I've added him as a collaborator. The other two people with write access to cpp-ethereum are @whatisgravity (who appears to be MIA), and @ProphetDaniel.

With only two of us active things can drag out if either of us

[2016-09-19 17:27] mikeyb commented on #42
https://github.com/orgs/ethereumproject/teams/golang + ethereumproject owners

[2016-09-20 02:55] tyler-morrison commented on #27
Hi all! Wanted to briefly introduce myself and get involved with ETC. @arvicco was kind enough to already invite me to Slack and the GitHub organization.

I am an application with a strong front-end background. I'm pretty much brand new to learning about blockchain and Ethereum. But after reading about the Hard Fork, ETC seems like a vital component to keep this technology headed in the right dire

[2016-09-20 09:03] colibry545 commented on #27
@tyler-morrison Thank you for your interest in contributing your time as a volunteer. Please contact @elaine and @splix on Slack, we need your help with Mist Wallet.

[2016-09-28 07:23] johnnyzjy commented on #27
@colibry @splix I am Johnny.
Glad to join etc dev team, hopefully I can do something for this amazing community.
My tech background:
1. 6 years experience iOS mobile app development. One of my app is similar Instagram in China. https://itunes.apple.com/cn/app/g.e.m./id365234568?mt=8
2. 2 years experience of ruby on rails.
3. 2 years on C++ & MFC, C#.net & WPF

[2016-09-28 07:35] colibry545 commented on #27
@johnnyzjy Thank you for your interest in volunteering, your skills would be beneficial for our team. You’ve been invited to the organization.

[2016-09-28 15:35] arvicco commented on #28
Discussion moved to: https://github.com/ethereumproject/ECIPs/issues/4

[2016-09-28 15:35] #28 closed

[2016-09-28 19:09] sethfork commented on #36
![screenshot 2016-09-28 13 19 58](https://cloud.githubusercontent.com/assets/7088679/18924586/b9ad4e72-857e-11e6-9fd4-424ab1e4fb4f.png)

-

At some point, we're going to have to make this switch. The counterintuitive naming convention presents an unforced roadblock in the growth of our ecosystem by creating an unnecessary point of friction in our developer acquisition flow.

-

Given the current w

[2016-09-28 19:19] elaineo commented on #36
Can someone edit the https://github.com/ethereumclassic byline to point to this group so people who go to that github account know where to look? cc @realcodywburns @arvicco @splix

[2016-09-28 19:21] igetgames commented on #36
How about this for a start? The owner of ethereumclassic add everyone associated with this org to that one, and we all solemnly swear not to create any new repos in this org?

Or would it be done later as a “everything must go” deal?

[2016-09-28 19:28] elaineo commented on #36
@igetgames I like your solution a lot.

[2016-09-28 21:51] arvicco commented on #36
@igetgames Actually, I just discovered another way to consolidate orgs. Github repos can be moved between orgs. So, I could add all ethereumproject members to ethereumclassic, and then move the repos from ethereumproject to ethereumclassic. I just tested this, and it works - the issues are moved, everything. Even the old links work as redirects, so no need to update all the links everywhere.

Ther

[2016-09-28 22:18] elaineo commented on #36
I think the other annoying thing is that a lot of people have local copies
of various repos, with pointers referencing the repositories in
ethereumproject. We can move some of the cleaner repos first. I would
recommend not moving go-ethereum right now, since multiple people are
working on a PR.

On Wed, Sep 28, 2016 at 2:51 PM, Ar Vicco <notifications@github.com> wrote:

[2016-09-28 22:24] ericsomdahl commented on #36
@arvicco existing builds and integrations will break.  But many builds have not been set up yet, so i would rather rip the bandage off sooner and get it over with.  @elaineo is correct about remote copies being disrupted but adding a new gi remote to an existing checkout is a 1-step process.  Socialization of the change among devs will be key.

[2016-09-28 23:30] arvicco commented on #36
Can we get a roll call of the active devs on the issue?
**Poll** (please vote yes or no):
Should we go ahead with the change and just move the dev repos to ethereumclassic?

[2016-09-28 23:55] igetgames commented on #36
I vote yes; let's move/rename all non-essential repos and circle back for Geth and pals later.

[2016-09-29 19:23] elaineo commented on #36
I vote yes with the same contingency as @igetgames  -- do non-essential repos first

[2016-09-29 19:40] elaineo commented on #42
We can add best practice guidelines for contributions here too: https://github.com/ethereumproject/go-ethereum/blob/develop/.github/CONTRIBUTING.md

[2016-09-30 14:42] whatisgravity commented on #27
Hello everyone, I hope I did not miss too much.

 My development laptop had a HD crash. I then built my own version of QubesOS based on Debian and KVM/Qemu. It is now finished and I can safely build and compartmentalize all my development projects.

I will be trying to catch up and see where I can contribute.

Hope everyone has been doing well.

[2016-09-30 14:44] colibry545 commented on #27
Welcome back @whatisgravity!

[2016-09-30 15:21] avtarsehra commented on #27
@whatisgravity it is really great to see you here!

[2016-10-05 06:09] whatisgravity commented on #20
Late, but it is updated. Thanks for helping early on.

[2016-10-09 02:27] lostinblue commented on #27
I build a Go project called oht, its an onion routed distributed hash table (https://github.com/onionNet/oht). Isis from the Tor project built a similar setup into Bitcoin a few months ago. Would you be interested in this feature being added to ETC?

[2016-10-09 14:20] splix commented on #27
@lostinblue that's very interesting. Security of the network is one of our next goals, after fixing all current issues. And seems that OHT project can be very helpful.
Also, we'll be very happy if you'll join Classic Geth development, there're many other things that I believe you can help us with. Please contact us on slack/gitter if you're interested

[2016-12-06 07:39] colibry545 commented on #26
https://github.com/ethereumproject/etherkube

[2016-12-06 07:39] #26 closed

[2016-12-11 19:16] ProphetDaniel commented on #38
Hi @splix. For Windows, enter the filetypes folder at  <username>\.WebstormXXXX.X\config\filetypes and add the [Solidity.xml](https://drive.google.com/file/d/0B1dS7bWX63QZSjB5QmZPWUxrbWM/view?usp=sharing) file to it. If there is no filtetypes folder inside the config folder, create it.

I found this solution after reading this [issue](https://github.com/ethereum/cpp-ethereum/issues/1445).

[2017-02-20 10:39] pdaya commented on #38
+1 . Any update on this?

[2017-02-20 15:18] federicobond commented on #38
I have begun working on this with help from the @rootstock team. Expect some updates on it soon. Send me an email if you want to know more.

[2017-02-21 12:20] SerCeMan commented on #38
Hey!

I also started some work recently:
https://github.com/SerCeMan/intellij-solidity

You can check it out here, it's mostly a basic syntax highlighting:
https://plugins.jetbrains.com/idea/plugin/9475-intellij-solidity

[2017-02-21 12:31] SerCeMan commented on #38
@federicobond  Hopefully, this is a plugin you mentioned or else we have a third one :)

https://github.com/LogvinovLeon/intellij-solidity by @LogvinovLeon

[2017-02-21 12:41] LogvinovLeon commented on #38
Yes. I started working on that a couple of days ago because I didn't find the previous ones.
Why are they not published?
I have implemented basic file type, file templates and an action for creating files.
I have also started rewriting the grammar. It's almost finished, but still needs some work.
Now I'm able to correctly parse some contracts except the ones with incomplete tuples.
Implementing sy

[2017-02-21 12:42] SerCeMan commented on #38
Both our plugins are published :) Moreover, in the same day.

[2017-02-21 12:43] LogvinovLeon commented on #38
Are you waiting for approval?

[2017-02-21 12:44] SerCeMan commented on #38
They are available
<img width="864" alt="screen shot 2017-02-21 at 11 44 09 pm" src="https://cloud.githubusercontent.com/assets/1780970/23165338/b62f6c2e-f88f-11e6-9fbd-4a9fbac99955.png">

[2017-02-21 12:45] LogvinovLeon commented on #38
Let's continue this discussion on gitter of your project

[2017-02-21 13:56] LogvinovLeon commented on #38
To all folks visiting this issue:
We merged our efforts.
The repository was moved [here](https://github.com/intellij-solidity/intellij-solidity).
We would continue working on that, but initial version is already released.
I have deleted my plugin from JetBrains repository, so that noone would be confused.

[2017-02-21 15:24] pdaya commented on #38
Awesome, thanks guys!
Will try it out in a few days.

[2017-02-21 15:27] federicobond commented on #38
Cool, I was just starting to work on something more ambitious. I would like to implement the interfaces to support automated refactoring and code intelligence. Happy to contribute to your plugin!

[2017-02-21 15:30] LogvinovLeon commented on #38
I just invited you to the organization @federicobond

[2017-03-02 17:08] elaineo commented on #20
Removed dead nodeS:

[code]

[2017-03-06 17:31] pyskell commented on #20
The pynode IP changed when I was consolidating some servers. Forgot to mention it. Sorry about that.

enode://5fbfb426fbb46f8b8c1bd3dd140f5b511da558cd37d60844b525909ab82e13a25ee722293c829e52cb65c2305b1637fa9a2ea4d6634a224d5f400bfe244ac0de@162.243.55.45:30303

Also you may want to check http://etcstats.net if you haven't. Typically the nodes run by mining pools seem to be up pretty consistently.

[2017-03-10 00:02] realcodywburns commented on #20
enode://c5b1a5e4c98a19707fbfe30fce9383a30a5ffe6caafdf464dc700784ef3888f2129b97421ebc9a1ec3c42ab92030f5a20b8c366109fadece89bbc753a90163ac@8.2.210.254:30303

My new parity node, It is running in archive mode with fat-db on a dedicated machine.

[2017-04-10 18:18] codingupastorm commented on #27
Hey,

I feel a bit late to the party as all these posts are from 6 months ago but I'd love to get involved. I've been working full-time as a full-stack .NET/ C# developer for ~2.5 years, with React/Redux on the frontend.

Outside of that have had a heap of side-projects in a few languages + frameworks including Meteor, Node, Grails - the most successful being [bestbans.com](http://bestbans.com) wh

[2017-04-10 18:37] splix commented on #27
Hi Jordan! We'll be happy to have you in our community.

I think you can help us with Meteor, there're few issues in Mist, for example @ethereumproject/mist#44. Basically sometimes it fails to unpack a zip file with geth and produces 0-length binary

And there many other places where you experience could be useful, for example @ethereumproject/emerald-wallet Let's discuss in Slack

[2017-04-13 05:43] Dexaran commented on #27
Hi there,

I'm mostly solidity/serpent developer. I'm currently working on some projects related to ETC. Im aiming to improve ETC infrastructure.

[2017-04-13 15:59] colibry545 commented on #27
@Dexaran Sounds great, you've been invited to the organization

[2017-04-24 17:59] realcodywburns commented on #36
I think it is a proper time to revisit this topic now

[2017-04-25 03:42] arvicco commented on #36
I agree @realcodywburns. People just keep looking for code in /ethereumclassic org and keep asking why there is no development in ETC. Merging both repos into /ethereumclassic has little downside, Github makes automatic redirects when moving the repo so both /ethereumclassic and /ethereumproject urls will still work. So, maybe we need to make a plan - I would love for @splix to chime in.

[2017-04-25 18:24] Souptacular commented on #36
Awesome that this is being revisted. Last year there were technical concerns with moving the repos (like losing commits), but I believe a lot of those are no longer an issue because of updates to the way Github renames/migrates organizations and some people telling me that if you reach out to Github they can sometimes perform manual moves of big orgs to decrease issues and complications.

Let me k

[2017-04-26 03:23] splix commented on #36
I agree that we need to do it at some point. I think now we could possible do that, but I'm still worried about how much time it will take. Also, I think we should try to ask help from GitHub, because in other way we'll need to move all org members with team associations and all configurations for repos manually (access rights, etc). Besides that we'll need to reconfigure all external services, su

[2017-06-03 10:27] pompomJuice commented on #27
Hi.

The good work you people are doing brought me enough riches to maybe consider looking at working on this full time. I have many ideas.

[2017-06-03 15:48] arvicco commented on #27
Great to hear, @pompomJuice! You may want to get in touch with @splix to discuss where you contribution may be most useful in existing ETC projects. Or you can start your own project any time - ETC is a permissionless infrastructure.

[2017-06-03 16:27] pompomJuice commented on #27
@arvicco Thanks man.

He has already directed me here. I am in touch with some other volunteers and already busy constructing a  test env.

Good day to you.

[2017-06-29 02:15] ffimnsr commented on #27
Hello,

I want to volunteer in the development of ETC. One reason why I want to volunteer is because I'm (with my team) currently developing dApps in Ethereum Classic platform. The second reason is, I want to improve the platform and help speed up the development. I'm a C++ developer, but can do Go and Rust. Cheers.

[2017-06-29 02:29] colibry545 commented on #27
Thank you for your interest in volunteering @ffimnsr! You can help @whilei with Geth client or @dulanov with Emerald project
https://github.com/ethereumproject/go-ethereum
https://github.com/ethereumproject/emerald-rs

[2017-06-30 18:03] anistark commented on #27
Hi,

I'm backend developer. Design server architecture and also freelance or service based requested web apps. I primarily code in python and nodejs, though have coded on multiple languages and platforms and love to be involved in the development of Ethereum.

Currently working on some POCs on ethereum and other exploring other blockchains.

[2017-06-30 18:16] whilei commented on #27
Hey @ffimnsr! Would be happy to help you get started if you're leaning toward ethereumproject/go-ethereum -- the easiest way to get ahold of me directly will be through the [ETC Slack group](http://ethereumclassic.herokuapp.com/), best via direct message or #development channel. Otherwise feel free to find or create an issue on the repo that looks interesting to you!

[2017-07-01 16:34] ffimnsr commented on #27
@whilei okay, I'm currently auditing and checking the source. By the way is there a list of task / roadmap of features and stuffs that needs to be done?

[2017-07-01 16:48] anistark commented on #27
@colibry545 How do I get involved with the foundation and how can I contribute? I want to work on the existing infrastructure of the ETC.

[2017-07-01 22:04] splix commented on #27
Hi @anistark! We don't have foundation :) You can contribute w/o permission. you could be probably interested in Emerald Wallet, as it developed with Javascript and Node. https://github.com/ethereumproject/emerald-wallet Take a look at the code and issues

[2017-07-03 14:57] whilei commented on #27
@ffimnsr The Issues section along with the [project section Next /+ In Progress](https://github.com/ethereumproject/go-ethereum/projects/1) are good starting points for getting a sense of priorities and direction

[2017-07-03 15:49] ffimnsr commented on #27
@whilei oh nice! I will look into it.

[2017-07-04 04:52] anistark commented on #27
@splix Thanks. Will look into Emerald Wallet.

[2017-08-03 20:05] #42 closed

[2017-08-31 07:41] gagarin55 opened #55 "Store transactions history by chain"
Transactions history has to be persisted per each chain separately.

[2017-08-31 08:21] gagarin55 opened #56 "Settings: make fiat currency switcher"
It doesn't work for EUR and others

[2017-08-31 08:21] gagarin55 commented on #56
ops

[2017-08-31 08:21] #56 closed

[2017-08-31 11:07] gagarin55 commented on #55
ops

[2017-08-31 11:07] #55 closed

[2017-09-06 22:20] developerkevin commented on #27
Hi Everyone, My name is Kevin @Classic_Kevin on Slack. Im working with @Keepdoing to organize and create a central reference point for other organizers and contributors to use (etciscoming.com).
Skill Set
-Data Research & Analysis
-Marketing & Organizing
-Content Creating & Explanations

Im great at interpreting ECIP's for End-Users, by creating a more layman style approach to explaining things. I

[2017-09-06 23:58] whilei commented on #27
Hey Kevin -- glad to have you here, and eager to learn from your opinions and ideas. Please feel always welcome to contribute to discussions on ECIPs and just about everything else; we're open-source to the core ;)

[2017-09-19 03:16] ashish27kulkarni commented on #27
Hi all! Wanted to briefly introduce myself and get involved with ETC.

I am experienced Python developer, with expertise in data technologies. I am a good with analytical technologies like data analysis, business intelligence, data mining, data engineering, database management with a wide variety of tools and environments.
I have experience with testing as well, manual as well as automated with se

[2017-09-22 13:10] tapdancemobile opened #57 "Volunteer"
Hello, I have 14 years development experience in enterprise and mobile development. I am interested in blockchain development and would love a chance to get some experience. I am happy to help with web, mobile, and services, but would like to work on the chain as well if possible. Thanks!
https://www.linkedin.com/in/tadamobile/

[2017-09-22 21:23] splix commented on #27
Hi @ashish27kulkarni, thank you for you support of ETC!

With your background I think you will be interested in https://github.com/ethereumproject/ecip1017test, which can grow into a full featured testing tool for  ETC. It uses Python to automate cluster managements and analyse of current state. Currently just for ECIP-1017, but as I mentioned, it can be used for other projects.

Also, we'd like t

[2017-09-23 02:02] splix commented on #57
Hi Mark!

Thank you for your interest in ETC. You can definitely help us. It seem that you can have interest in [Emerald Wallet](https://github.com/ethereumproject/emerald-wallet), which is written in Javascript (Electron,React,Redux). After releasing a first stable version for desktop, we going to work on mobile version.

We have plenty of other project, in Go, in Rust and JS, see https://github.

[2017-10-07 03:18] biguls commented on #38
Hey guys, I'm an eclipse guy and new to IntelliJ but I just installed it and imported the IntelliJ-Solidity plugin but have no idea how to associate it to a project or even what kind of project I should be creating. Any ideas?

[2017-10-09 19:08] SerCeMan commented on #38
Hey, @biguls!

You don't need any special kind of project. The `.sol` file association should be created automatically. If that didn't happen, for example, if you tried to associate `*.sol` with anything else, you will need to create it manually.

[2017-11-30 22:15] vicnicius commented on #27
Hello team! My name is Vinícius and I want to introduce myself:

I'm currently a front-end developer with a lot of experience with javascript projects but looking to learn new technologies and get deep into blockchain development. Currently I contribute & help maintaining [catarse](https://github.com/catarse), an open-source crowdfunding platform.

I really want to make a big impact on our society

[2017-12-01 04:10] splix commented on #27
Hi Vinícius. Thank you for your interest in ETC. For you as a front-end developer, there're couple of project that could be interesting, such as https://github.com/ethereumproject/emerald-wallet (also emerald-js) and https://github.com/ethereumproject/TokenMint

Slack signup doesn't work anymore unfortunately, we actually started to move to Discord, because of this and other issues with Slack. The

[2017-12-01 07:55] Vaibhav commented on #27
Hello, My name is Vaibhav. I want to get involved with ETC and help in any way I can.

Currently, I am a third year computer science student at University of Waterloo. I am great with C++, C#. Python and Ruby on Rails. I really want to expand my knowledge about blockchain and want to learn how to develop apps using the blockchain. I believe this would be a good open source project that I could con

[2017-12-01 10:14] whilei commented on #27
Hey @vicnicius! Great to have you here. Sorry to hear that Slack isn't working. Here's a link to the Discord invite - https://discord.gg/wpwSGWn.

With your Javascript background you might be interested in [Emerald Wallet](https://github.com/ethereumproject/emerald-wallet) and/or [emerald-js](https://github.com/ethereumproject/emerald-js).

Otherwise, please feel free to browse any and all project

[2017-12-02 17:38] splix commented on #27
Hi @Vaibhav. Thank your interest in ETC, I'm sure you can help us with development. We mostly use Go, Rust and Javascript. Sometimes Python, but not so much. I think most easy to start would be [Emerald Wallet](https://github.com/ethereumproject/emerald-wallet) and/or[ emerald-js](https://github.com/ethereumproject/emerald-js), because you can also learn how to develop daaps on top of ETC. And tak

[2017-12-13 17:23] vinceyoumans opened #66 "volunteer"
I'm in MIami Fl.  Doing iPHONE, ANDROID, GoLang on GAE, FireBase, and fair to advanced in JS.  Mostly industrial, logistics and Healthcare stuff...    only a couple of days expereince working with etherium.. learning but making progress.  So I would like to offer my services as an amature with a clue to any Block Chain expert that needs some assistance in something. Especially testing but if you w

[2017-12-13 17:55] vinceyoumans opened #67 "looking to volunteer..."
I'm doing native iPHONE, Native Android, GoLang, Google App engine, Some Node and some JS including Polymer ( but not my best skill ).   Very minimal BC skills...   which is why I am here offering to volunteer.  I'd like to walk away from this expereince with some smart Contract skills on Etherium...   Past work has been mostly Industrial, Logistics and Healthcare.  Not much finTech, but I can get

[2017-12-19 13:15] Rakesh-Saini commented on #38
It shows "Exception in unknown plugins" !!

[2017-12-19 13:17] SerCeMan commented on #38
Hey, @Rakesh-Saini!

Can you describe the problem in more details?

[2017-12-19 13:23] Rakesh-Saini commented on #38
Well am totally new to solidity..(just a beginner)
this error message is shown in the IDE fatal errors window
"update failed for AnAction with ID=RunConfiguration"

[2017-12-19 13:26] SerCeMan commented on #38
@Rakesh-Saini, it's very hard to say what's happened given only this message. It seems like the problem you're experiencing might not be related to the plugin.

[2017-12-20 03:35] j-chimienti commented on #27
Hi. Looking to get involved in interesting projects. In my day job I code JavaScript / Java spring and python in free time.

See portfolio for projects

[2018-02-01 20:47] cseberino commented on #20
enode://5e4813102844f0fbe6b089e30ca0763dd45863e97c5f87168fa0172dce2497aaca9f7b355217f3cc0b2a9739f9ef2e87e193a34d4bcd95fb81d11a28ab0f24b6@34.233.12.29:30303

A Parity node for domain etcplanet.org .

[2018-02-16 01:50] roninkaizen commented on #20
enode://df51b43e3c0a1734ae85b6ea8fad2198a30795934a5bd8803b92d060b3cb134299a28fab0fce770521b15c7e2043429ee695ad2e994b43447cd9892142f0ca57@44-225-103-86.dynamic.dsl.tng.de:64102

My new parity node, It is running in archive mode with rocks-db5 on a dedicated machine

[2018-03-18 20:06] roninkaizen commented on #20
sry guys-
mixed up.
supporting the main.chain at this moment favorizing the idea about "individual decision"-schemes
not paying out people who found,
that there is something to transfer.
the self-given reward i have reread in pastbin, lead me to this.

[2018-05-08 08:42] clodjoelo commented on #27
Hi,
I'm a UX grad (degree level), so my knowledge base is UX research/usability/UI design... Coding was also compulsory at my school so I was also exposed to HTML, CSS, JScript & Java.

Happy to help out on website re-build or any other projects.

[2018-05-08 23:15] BobcatBilly commented on #27
Hello! I'm Bobcat.

I'm here because @classiciscoming dropped the link on my twitter and I like what you all are doing.
Is there a separate thread for non-dev volunteers?

My professional background is primarily focused on supply chain and production management, and I hold a BBA. I am a military veteran and my management experience was with a large defense contractor.

Ancillary tasks that I may b

[2018-05-23 10:44] tomokazukozuma commented on #20
I can not find morden peer.
Please tell me active peer!

[2018-06-22 06:36] t4sk commented on #20
@tomokazukozuma
[code]

bootnode mentioned [here](https://github.com/ethereumproject/go-ethereum/issues/487) by @tzdybal is working for me

[2018-07-10 12:08] TomaszWaszczyk commented on #27
Hi,

I'm Tomek from Poland. I believe on ETC because of "immutability", and the real Ethereum is ETC! I'm a programmer and organizer of https://www.meetup.com/Silesia-Blockchain-Meetup/.

The technologies stack used in my professional life includes:
- JavaScript (ES6)
- SCSS
- Node server and "frontend world"
- Solidity
- HTML5

I just started solving issue in https://github.com/ETCDEVTeam/emerald

[2018-07-25 20:21] CryptoRootz opened #72 "Newb Self-Taught Python Programmer Here to do anything i can to help."
Aloha, Im Crypto Rootz (you can find me on youtube and twitter) I am very passionate about crypto Currency and im Passionate about ETC and i would Like to do anything at all to help contribute to the development of ETC . I have a Few Really Great ideas for Dapps but i need to work with more developers and figure out how its all done. I am 9 months experience of HTML CSS some Javascript Python some

[2018-12-15 03:19] realcodywburns commented on #36
the some point is now. http://github.com/ethereumclassic org has been populated and relevant repos moved. this org is deprecated.

[2019-04-12 02:25] Irvingyao commented on #20
Hi there,

Could anyone provide me an active morden peer?

Thanks!